<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Menu Button" hide-gt-md ng-click="onClickMenu();">
      <md-icon
        md-svg-icon="assets/icons/menu.svg" aria-label="Menu Icon">
      </md-icon>
    </md-button>

    <span flex></span>

    <md-button aria-label="search drivers" class="md-raised md-primary" ng-click="slide=!slide">
      <i class="material-icons">search</i>
    </md-button>

    <md-menu>
      <md-button aria-label="Open phone interactions menu" class="md-raised md-warn" ng-click="openMenu($mdMenu, $event)">
        <i class="material-icons">cloud_download</i>
        <md-tooltip md-direction="bottom">
          Export drivers to excel
        </md-tooltip>
      </md-button>
      <md-menu-content width="4">
        <md-menu-item>
          <md-button ng-csv="exportToCSV('1')" lazy-load="true" csv-label="true" filename="klloyds_approved_drivers.csv">
            <span class="lnr lnr-thumbs-up"></span>
            Export Approved Drivers
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-csv="exportToCSV('0')" lazy-load="true" csv-label="true" filename="klloyds_unapproved_drivers.csv">
            <span class="lnr lnr-hourglass"></span>
            Export Unapproved Drivers
          </md-button>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <md-menu-item>
          <md-button ng-csv="exportToCSV('all')" lazy-load="true" csv-label="true" filename="klloyds_all_drivers.csv">
            <span class="lnr lnr-text-align-justify"></span>
            Export All Drivers
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>

    <md-button ng-if="authenticatedUser.admin_type != 'staff'" aria-label="Open phone interactions menu" class="md-raised md-accent" ng-click="showAddDriverDialog($event)">
      Add New Driver
    </md-button>
  </div>
</md-toolbar>

<div class="search-bar animate-slide" layout="row" ng-show="slide">
  <h3 flex="15">Search Drivers</h3>
  <md-input-container md-no-float class="search-input" flex="60">
    <input type="text" ng-model="searchText" placeholder="Enter search term" ng-enter="searchDrivers()">
  </md-input-container>
  <i class="material-icons search-close-icon" ng-click="searchDrivers()">search</i>
  <i class="material-icons search-close-icon" ng-click="slide=!slide; searching=false">close</i>
</div>

<div ng-if="processInProgress" class="top-progress-bar" layout="row">
  <md-progress-linear md-mode="indeterminate"></md-progress-linear>
</div>

<div class="view-main-container">

  <div class="" layout="row">
    <md-card class="sm-rq-filter-item-card bg-color-shade-1" ng-style="currentView == 'app.drivers.approved' && {'border':'3px solid white'}" flex="10" ng-click="changeDriversTab('app.drivers.approved')">
      <md-card-content>
        <span class="lnr lnr-thumbs-up"></span>
        <h2 class="sm-rq-filter-item-title">Approved</h2>
      </md-card-content>
    </md-card>
    <md-card class="sm-rq-filter-item-card bg-color-shade-2" ng-style="currentView == 'app.drivers.unapproved' && {'border':'3px solid white'}" flex="10" ng-click="changeDriversTab('app.drivers.unapproved')">
      <md-card-content>
        <span class="lnr lnr-hourglass"></span>
        <h2 class="sm-rq-filter-item-title">Unapproved</h2>
      </md-card-content>
    </md-card>
    <md-card class="sm-rq-filter-item-card bg-color-shade-4" ng-style="currentView == 'app.drivers.deleted' && {'border':'3px solid white'}" flex="10" ng-click="changeDriversTab('app.drivers.deleted')">
      <md-card-content>
        <span class="lnr lnr-trash"></span>
        <h2 class="sm-rq-filter-item-title">Deleted</h2>
      </md-card-content>
    </md-card>
  </div>

  <div class="" ui-view></div>

  <md-card ng-if="searching">
    <h3 class="view-main-title requests">Search Results</h3>
    <md-card-content>
      <md-table-container>
        <table md-table md-progress="requestsPromise">
          <thead md-head md-order="" md-on-reorder="">
            <tr md-row>
              <th md-column><span>DRIVER NAME</span></th>
              <th md-column>PHONE NUMBER</th>
              <th md-column>ASSIGNED DELIVERIES</th>
              <th md-column></th>
            </tr>
          </thead>

          <tbody md-body>
            <tr md-row md-select="" md-select-id="" md-auto-select ng-repeat="driver in driverResults.data">
              <td md-cell>{{driver.first_name}} {{driver.last_name}}</td>
              <td md-cell>{{driver.phone_number}}</td>
              <td md-cell>{{driver.assigned_deliveries.length}}</td>
              <td md-cell>
                <button class="md-button md-raised md-primary" ng-click="showDriverDialog($event, driver, 'view_driver')">
                  <md-tooltip md-direction="top">
                    View Driver Details
                  </md-tooltip>
                  <i class="material-icons">remove_red_eye</i>
                </button>
                <button class="md-button md-raised md-accent" ng-click="showDriverDialog($event, driver, 'update_driver')">
                  <md-tooltip md-direction="top">
                    Edit Driver Details
                  </md-tooltip>
                  <i class="material-icons">edit</i>
                </button>
                <button ng-if="!driver.driver_approved && !driver.deleted" class="md-button md-raised md-accent" ng-click="approveUnapproveDriver(driver, 'approve')">
                  <md-tooltip md-direction="top">
                    Approve Driver
                  </md-tooltip>
                  <i class="material-icons">spellcheck</i>
                </button>
                <button ng-if="driver.driver_approved && !driver.deleted" class="md-button md-raised md-warn" ng-click="approveUnapproveDriver(driver, 'unapprove')">
                  <md-tooltip md-direction="top">
                    Unapprove Driver
                  </md-tooltip>
                  <i class="material-icons">clear</i>
                </button>

                <button ng-if="!driver.deleted" class="md-button md-raised md-danger" ng-click="deleteDriver($event, driver)">
                  <md-tooltip md-direction="top">
                    Delete Driver
                  </md-tooltip>
                  <i class="material-icons">delete_forever</i>
                </button>
                <button ng-if="driver.deleted" class="md-button md-raised md-danger" ng-click="restoreDeletedDriver($event, driver)">
                  <md-tooltip md-direction="top">
                    Restore Driver
                  </md-tooltip>
                  <i class="material-icons">undo</i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </md-table-container>
    </md-card-content>
  </md-card>

</div>
