<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Menu Button" hide-gt-md ng-click="onClickMenu();">
      <md-icon
        md-svg-icon="assets/icons/menu.svg" aria-label="Menu Icon">
      </md-icon>
    </md-button>

    <span flex></span>

    <md-button aria-label="Open phone interactions menu" class="md-raised md-accent" ng-click="openMenu($mdMenu, $event)">
      Add Driver
    </md-button>
  </div>
</md-toolbar>

<div ng-if="activateTopProgress" class="top-progress-bar" layout="row">
  <md-progress-linear md-mode="indeterminate"></md-progress-linear>
</div>

<div class="view-main-container">
  <h3 class="view-main-title">Drivers</h3>

  <md-card>
    <md-card-content>
      <md-table-container>
        <table md-table md-progress="requestsPromise">
          <thead md-head md-order="query.order" md-on-reorder="getrequests">
            <tr md-row>
              <th md-column><span>DRIVER NAME</span></th>
              <th md-column>PHONE NUMBER</th>
              <th md-column>ASSIGNED DELIVERIES</th>
              <th md-column>STATUS</th>
              <th md-column></th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row md-select="dessert" md-select-id="name" md-auto-select ng-repeat="driver in drivers.data">
              <td md-cell>{{driver.first_name}} {{driver.last_name}}</td>
              <td md-cell>{{driver.phone_number}}</td>
              <td md-cell>{{driver.assigned_deliveries.length}}</td>
              <td md-cell>
                <p ng-if="driver.driver_approved == true">APPROVED</p>
                <p ng-if="driver.driver_approved == false">NOT APPROVED</p>
              </td>
              <td md-cell>
                <button class="md-button md-raised md-primary" ng-click="viewDriverDetails($event, driver)">
                  <md-tooltip md-direction="top">
                    View Driver Details
                  </md-tooltip>
                  <i class="material-icons">remove_red_eye</i>
                </button>
                <button ng-if="!driver.driver_approved" class="md-button md-raised md-accent" ng-click="approveDisapproveDriver(driver)">
                  <md-tooltip md-direction="top">
                    Approve Driver
                  </md-tooltip>
                  <i class="material-icons">spellcheck</i>
                </button>
                <button ng-if="driver.driver_approved" class="md-button md-raised md-warn" ng-click="approveDisapproveDriver(driver)">
                  <md-tooltip md-direction="top">
                    Unapprove Driver
                  </md-tooltip>
                  <i class="material-icons">clear</i>
                </button>

                <button class="md-button md-raised md-warn" ng-click="deleteDriver($event, driver)">
                  <md-tooltip md-direction="top">
                    Delete Driver
                  </md-tooltip>
                  <i class="material-icons">delete_forever</i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </md-table-container>

      <md-table-pagination md-limit="queryParams.limit" md-limit-options="[50, 100, 200]" md-page="queryParams.page" md-total="{{requests.total}}" md-on-paginate="getrequests" md-page-select></md-table-pagination>
    </md-card-content>
  </md-card>
</div>
