<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Menu Button" hide-gt-md ng-click="onClickMenu();">
      <md-icon
        md-svg-icon="assets/icons/menu.svg" aria-label="Menu Icon">
      </md-icon>
    </md-button>

    <span flex></span>

    <md-button aria-label="Open phone interactions menu" class="md-raised md-accent" ng-click="showAddVehicleDialog($event)">
      Add New Courier Vehicle
    </md-button>
  </div>
</md-toolbar>

<div ng-if="processInProgress" class="top-progress-bar" layout="row">
  <md-progress-linear md-mode="indeterminate"></md-progress-linear>
</div>

<div class="view-main-container">
  <h3 class="view-main-title">Courier Vehicles</h3>

  <md-card>
    <md-card-content>
      <md-table-container>
        <table md-table md-progress="requestsPromise">
          <thead md-head md-order="query.order" md-on-reorder="getrequests">
            <tr md-row>
              <th md-column><span>VEHICLE NAME</span></th>
              <th md-column>CATEGORY</th>
              <th md-column>REGISTRATION</th>
              <th md-column>DRIVER</th>
              <th md-column>CURRENT STATUS</th>
              <th md-column></th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row md-select="dessert" md-select-id="name" md-auto-select ng-repeat="vehicle in vehicles.data">
              <td md-cell>{{vehicle.vehicle_name}}</td>
              <td md-cell>{{vehicle.vehicle_type}}</td>
              <td md-cell>{{vehicle.vehicle_registration_number}}</td>
              <td md-cell>{{vehicle.assigned_driver.first_name}} {{vehicle.assigned_driver.last_name}}</td>
              <td md-cell>{{vehicle.current_status}}</td>
              <td md-cell>
                <button class="md-button md-raised md-primary" ng-click="showViewVehicleDialog($event, vehicle)">
                  <md-tooltip md-direction="top">
                    View Vehicle Details
                  </md-tooltip>
                  <i class="material-icons">remove_red_eye</i>
                </button>
                <button class="md-button md-raised md-primary" ng-click="showAssignVehicleDialog($event, vehicle)">
                  <md-tooltip md-direction="top">
                    Assign to a driver
                  </md-tooltip>
                  <i class="material-icons">person_add</i>
                </button>
                <button class="md-button md-raised md-accent" ng-click="showUpdateVehicleDialog($event, vehicle)">
                  <md-tooltip md-direction="top">
                    Edit Vehicle
                  </md-tooltip>
                  <i class="material-icons">edit</i>
                </button>
                <button class="md-button md-raised md-warn" ng-click="deleteVehicle($event, vehicle)">
                  <md-tooltip md-direction="top">
                    DeleteVehicle
                  </md-tooltip>
                  <i class="material-icons">delete_forever</i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </md-table-container>

      <md-table-pagination md-limit="queryParams.limit" md-limit-options="[50, 100, 200]" md-page="queryParams.page" md-total="{{requests.total}}" md-on-paginate="getrequests" md-page-select></md-table-pagination>
    </md-card-content>
  </md-card>
</div>
