<div ng-if="loadingWarehouses" layout="row" layout-align="center center" style="min-height: 50vh;">
  <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>

<div class="flex-grid" ng-if="!loadingWarehouses">
  <div class="warehouse-col flip-container" ontouchstart="this.classList.toggle('hover');" ng-repeat="warehouse in warehouses.data track by $index">
    <div class="flipper">
      <div class="front">
        <h1>{{warehouse.name}}</h1>
        <div class="sm-wh-address-container">
          <p class="sm-wh-address-text">{{warehouse.address_line_one}}</p>
          <p class="sm-wh-address-text">{{warehouse.address_line_two}}</p>
          <p class="sm-wh-address-text">{{warehouse.state}} - {{warehouse.zip_postcode}}, {{warehouse.country}}</p>
        </div>
      </div>
      <div class="back">
        <h2 class="sm-staff-name">{{warehouse.name}}</h2>
        <div class="sm-wh-map-container">
          <ng-map class="sm-wh-map" center="{{warehouse.location_latitude}}, {{warehouse.location_longitude}}" zoom="10">
            <marker position="{{warehouse.location_latitude}}, {{warehouse.location_longitude}}" title="{{warehouse.description}} location"></marker>
          </ng-map>
        </div>

        <div class="sm-wh-action-btn-container">
          <md-button class="md-raised md-primary" aria-label="description" md-ripple-size="full" ng-click="showUpdateWarehouseDialog($event, warehouse)">
            <i class="material-icons">edit</i>
            <md-tooltip md-direction="top">
              Edit Warehouse Details
            </md-tooltip>
          </md-button>
          <md-button class="md-raised md-warn" aria-label="description" ng-click="deleteWarehouse(warehouse, $index)">
            <i class="material-icons">delete_forever</i>
            <md-tooltip md-direction="top">
              Delete Warehouse
            </md-tooltip>
          </md-button>
        </div>
      </div>
    </div>
  </div>
</div>
