<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Menu Button" hide-gt-md ng-click="onClickMenu();">
      <md-icon
        md-svg-icon="assets/icons/menu.svg" aria-label="Menu Icon">
      </md-icon>
    </md-button>

    <span flex></span>

    <i class="material-icons toolbar-search-icon" ng-click="slide=!slide">search</i>

    <md-button aria-label="Open phone interactions menu" class="md-raised md-accent" ng-click="showAddCustomerDialog($event)">
      Add New Customer
    </md-button>
  </div>
</md-toolbar>

<div class="search-bar animate-slide" layout="row" ng-show="slide">
  <h3 flex="15">Search Customers</h3>
  <md-input-container md-no-float class="search-input" flex="60">
    <input type="text" ng-model="searchText" placeholder="Enter search term" ng-enter="searchCustomers()">
  </md-input-container>
  <i class="material-icons search-close-icon" ng-click="searchCustomers()">search</i>
  <i class="material-icons search-close-icon" ng-click="slide=!slide; searching=false">close</i>
</div>

<div ng-if="processInProgress" class="top-progress-bar" layout="row">
  <md-progress-linear md-mode="indeterminate" md-diameter="30"></md-progress-linear>
</div>

<div class="view-main-container">

  <div class="" layout="row">
    <md-card class="sm-rq-filter-item-card bg-color-shade-1" ng-style="currentView =='app.customers.businesses' && {'border':'3px solid white'}" flex="10" ng-click="changeCustomersTab('app.customers.businesses')">
      <md-card-content>
        <span class="lnr lnr-apartment"></span>
        <h2 class="sm-rq-filter-item-title">Businesses</h2>
      </md-card-content>
    </md-card>
    <md-card class="sm-rq-filter-item-card bg-color-shade-2" ng-style="currentView =='app.customers.individuals' && {'border':'3px solid white'}" flex="10" ng-click="changeCustomersTab('app.customers.individuals')">
      <md-card-content>
        <span class="lnr lnr-users"></span>
        <h2 class="sm-rq-filter-item-title">Individuals</h2>
      </md-card-content>
    </md-card>
  </div>

  <div class="" ui-view></div>

  <md-card ng-if="searching">
    <h3 class="view-main-title requests">Search Results</h3>
    <md-card-content>
      <md-table-container>
        <table md-table md-progress="requestsPromise">
          <thead md-head md-order="query.order" md-on-reorder="getrequests">
            <tr md-row>
              <th md-column>ACCOUNT NUMBER</th>
              <th md-column><span>CUSTOMER NAME</span></th>
              <th md-column>CUSTOMER TYPE</th>
              <th md-column>PHONE NUMBER</th>
              <th md-column></th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row md-select="dessert" md-select-id="name" md-auto-select ng-repeat="customer in customerResults.data">
              <td md-cell>{{customer.id}}</td>
              <td md-cell>{{customer.first_name}} {{customer.last_name}}</td>
              <td md-cell>
                <span ng-if="customer.consumer_type == 'business'">Business</span>
                <span ng-if="customer.consumer_type == 'individual'">Individual</span>
              </td>
              <td md-cell>{{customer.phone_number}}</td>
              <td md-cell>
                <button class="md-button md-raised md-primary" ng-click="showCustomerDialog($event, customer, 'view_customer')">
                  <md-tooltip md-direction="top">
                    View Customer Details
                  </md-tooltip>
                  <i class="material-icons">remove_red_eye</i>
                </button>
                <button class="md-button md-raised md-danger" ng-if="customer.user_block_status == 'unblocked'" ng-click="changeCustomerStatus(customer, 'block')">
                  <md-tooltip md-direction="top">
                    Block Customer
                  </md-tooltip>
                  <i class="material-icons">block</i>
                </button>
                <button class="md-button md-raised md-accent" ng-if="customer.user_block_status == 'blocked'" ng-click="changeCustomerStatus(customer, 'unblock')">
                  <md-tooltip md-direction="top">
                    Unblock Customer
                  </md-tooltip>
                  <i class="material-icons">done_all</i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </md-table-container>
    </md-card-content>
  </md-card>
</div>
