<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Menu Button" hide-gt-md ng-click="onClickMenu();">
      <md-icon
        md-svg-icon="assets/icons/menu.svg" aria-label="Menu Icon">
      </md-icon>
    </md-button>

    <span flex></span>

    <md-menu>
      <md-button aria-label="Open phone interactions menu" class="md-raised md-accent" ng-click="openMenu($mdMenu, $event)">
        Add New Request
      </md-button>
      <md-menu-content width="4">
        <md-menu-item>
          <md-button ng-click="showAddRequestDialog($event, 'add_offline_request')">
            Local Delivery
            <md-button aria-label="description">
              <i class="material-icons">info_outline</i>
              <md-tooltip md-direction="left">
                Get anything delivered locally. We'll pickup and deliver.
              </md-tooltip>
            </md-button>
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="showAddRequestDialog($event, 'add_online_request')">
            Online Purchase
            <md-button aria-label="description">
              <i class="material-icons">info_outline</i>
              <md-tooltip md-direction="left">
                Purchase from any online shop to any of our warehouses. We'll deliver to your doorstep.
              </md-tooltip>
            </md-button>
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="showAddRequestDialog($event, 'add_equipment_request')">
            Equipment Rental
            <md-button aria-label="description">
              <i class="material-icons">info_outline</i>
              <md-tooltip md-direction="left">
                Rent all kinds of industrial and domestic equipment.
              </md-tooltip>
            </md-button>
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </div>
</md-toolbar>

<div ng-if="processInProgress" class="top-progress-bar" layout="row">
  <md-progress-linear md-mode="indeterminate"></md-progress-linear>
</div>

<div class="view-main-container">
  <div class="" layout="row">
    <md-card class="sm-st-item-card pending" ng-style="viewName =='pending' && {'border':'3px solid #019AD6'}" flex="15" ng-click="changeRequestsTab('app.requests.pending')">
      <md-card-content>
        <i class="material-icons">vertical_align_bottom</i>
        <h2 class="sm-st-item-title">Pending</h2>
      </md-card-content>
    </md-card>
    <md-card class="sm-st-item-card assigned" ng-style="viewName =='assigned' && {'border':'3px solid #019AD6'}" flex="15" ng-click="changeRequestsTab('app.requests.assigned')">
      <md-card-content>
        <i class="material-icons">cached</i>
        <h2 class="sm-st-item-title">Assigned</h2>
      </md-card-content>
    </md-card>
    <md-card class="sm-st-item-card in-progress" ng-style="viewName == 'delivery-in-progress' && {'border':'3px solid #019AD6'}" flex="15" ng-click="changeRequestsTab('app.requests.delivery-in-progress')">
      <md-card-content>
        <i class="material-icons">flight_takeoff</i>
        <h2 class="sm-st-item-title">In Progress</h2>
      </md-card-content>
    </md-card>
    <md-card class="sm-st-item-card declined" ng-style="viewName =='declined' && {'border':'3px solid #019AD6'}" flex="15" ng-click="changeRequestsTab('app.requests.declined')">
      <md-card-content>
        <i class="material-icons">sync_problem</i>
        <h2 class="sm-st-item-title">Declined</h2>
      </md-card-content>
    </md-card>
    <md-card class="sm-st-item-card completed" ng-style="viewName =='completed' && {'border':'3px solid #019AD6'}" flex="15" ng-click="changeRequestsTab('app.requests.completed')">
      <md-card-content>
        <i class="material-icons">done_all</i>
        <h2 class="sm-st-item-title">Completed</h2>
      </md-card-content>
    </md-card>
  </div>

  <md-card>
    <h3 class="view-main-title requests">{{viewName | capitalize:first}} Requests</h3>
    <md-card-content ui-view></md-card-content>
  </md-card>
</div>
