.sm-request-detail-left {
  border-right: 1px solid #ebebeb;
}
.sm-request-detail-right {
  padding-left: 15px;
}
.sm-rq-detail-user-container {
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 20px;
  margin-right: 15px;
}
.sm-rq-user-img {
  border-radius: 100%;
  margin-right: 10px;
  width: 120px;
  height: 120px;
}
.sm-rq-user-name {
  margin-top: 0px;
  margin-bottom: 5px;
}
.sm-rq-user-phone {
  margin-top: 0px;
}
.sm-rq-other-details-container {
  margin-right: 15px;
}
.sm-rq-inner-title {
  font-size: 25px;
  color: #9E9E9E;
}
.sm-rq-pkg-details-container {
  color: #7a7a7a;
  margin-bottom: 20px;
  font-size: 18px;
}
.sm-rq-pkg-img {
  width: 100%;
}
.sm-rq-map-container {
  margin-top: 50px;
}
