.sm-request-detail-left {
  border-right: 1px solid #ebebeb;
}
.sm-request-detail-right {
  padding-left: 15px;
}
.sm-rq-detail-user-container {
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 20px;
  margin-right: 15px;
  margin-bottom: 30px;
}
.sm-rq-user-img {
  border-radius: 100%;
  margin-right: 10px;
  width: 120px;
  height: 120px;
}
.sm-rq-user-name {
  margin-top: 0px;
  margin-bottom: 5px;
}
.sm-rq-user-phone {
  margin-top: 0px;
}
.sm-rq-other-details-container {
  margin-right: 15px;
}
.sm-rq-inner-title {
  font-size: 25px;
  color: #9E9E9E;
}
.sm-rq-pkg-details-container {
  color: #7a7a7a;
  margin-bottom: 20px;
  font-size: 13px;
}
.sm-rq-pkg-img {
  width: 100%;
}
.sm-rq-map-container {
  // margin-top: 50px;
}
.sm-add-request-modal-content {
  padding: 0px;
}

.sm-req-online-info {
  padding: 20px;
  margin-bottom: 30px;
  background-color: rgba(255, 235, 59, 0.38);
  font-size: 13px;
}
.sm-req-online-info-title {
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 5px;
}
.md-input-has-value input {
  color: black !important;
}
.sm-req-address-info {
  padding: 15px;
  width: 96%;
  font-size: 14px;
  background-color: rgba(158, 158, 158, 0.12);
  margin-bottom: 10px;
}

// EQUIPMENT REQUEST CSS
.sm-eq-item-container {
  width: 97%;
  height: 200px;
  border-radius: 3px;
  background-color: #F8F8F8;
  border: 3px solid #F8F8F8;
  padding: 10px;
  margin-bottom: 30px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}
.sm-equipment-list {

}
.rq-eqm-info {
  padding-left: 20px;
  position: relative;
}
.rq-eqm-title {
  margin-top: 0;
}
.rq-eqm-info-btn-container {
  position: absolute;
  bottom: 0;
}
.rq-eqm-info-btn-container .md-button:first-child {
  margin-left: 0;
}
.sm-rq-rent-filters-input-container {
  width: 900px;
}
.sm-rq-message-icon {
  font-size: 25px;
  cursor: pointer;
  color: #7a7a7a;
}
.sm-rq-message-icon:hover {
  color: #019AD6;
}
div[name="equipmentRequestWizard"] {
  width: 100%;
}
.rq-eqm-image-container {
  overflow: hidden;
  position: relative;
}
.rq-eqm-price {
  position: absolute;
  background-color: #f4511e;
  color: white;
  padding: 4px;
  margin-top: 5px;
  font-size: 14px;
}
.sm-equipment-img {
  width: auto;
  height: 200px;
}
.eqm-sidenav {
  max-width: 350px !important;
  width: 350px !important;
}
.sm-toolbar-select {
  font-size: 16px;
  margin-bottom: 10px;
  margin-left: -10px;
}
.sm-delivery-vehicle-type {
  height: 150px;
  width: 31%;
  background-size: contain !important;
  background-repeat: no-repeat;
  border: 3px solid transparent;
  cursor: pointer;
  outline: none;
}
.sm-delivery-vehicle-type:hover {
  border: 3px solid #EF5350;
}
.sm-offline-information-box {

}
.sm-offline-information-title {
  margin: 0px;
  font-size: 12px;
}

@media (max-width: 400px) {
  .flex-grid {
    display: block;
    .sm-delivery-vehicle-type {
      width: 100%;
      margin: 0 0 10px 0;
    }
  }
}
.sm-delivery-vehicle-type-title {
  text-align: center;
  margin-bottom: 0px;
  font-size: 11px;
}
.sm-offline-information-box.middle {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding-left: 16px;
}
.sm-offline-information-box.right {
  padding-left: 16px;
}
.sm-offline-info-location {
  font-size: 10px;
}
.sm-offline-info-location-id {
  font-weight: bold;
  font-size: 8px;
}
.sm-offline-info-distance {
  font-size: 20px;
  font-weight: bold;
  margin-top: 0px;
  color: #019AD6;
}
.sm-offline-info-price {
  font-size: 30px;
  font-weight: bold;
  color: #019AD6;
}
.sm-rq-fare-container {
  text-align: center;
  cursor: auto;
}
.sm-rq-fare-container h2{
  font-size: 30px;
}
.sm-rq-fare-container h6{
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.sm-rq-sms-button {
  margin: 0;
  padding: 0;
}
.bold-span {
  font-weight: bold;
}
.request_package_details_icon_container {
  text-align: center;
  width: 65px;
  margin-right: 20px;
}
.request_package_hazard_icon-label {
  margin-top: 10px;
  color: $danger-color;
}
.request_package_airfreight_icon-label {
  margin-top: 10px;
  color: $accent-color;
}
.request_package_details_icons {
  font-size: 30px;
  font-weight: bold;
}
.request_package_details_icons.red {
  color: $danger-color
}
.request_package_details_icons.green {
  color: $accent-color
}
.sm-rq-cost-input {
  width: 100px;
}
.view-main-title.requests{
  margin: 20px 10px 0px 20px !important;
  font-size: 25px !important;
}
.sm-rq-filter-item-card {
  margin-bottom: 20px;
  color: white;
  border: inherit;
  // padding-top: 10px;
}
.sm-rq-filter-item-card:hover {
  // border: 3px solid white;
}
.sm-rq-filter-item-card span {
  font-size: 30px;
}

.sm-rq-notes {
  border-top: 1px solid #ccc;
  margin-top: 50px;
}
.sm-rq-notes-container {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 20px;
}
.sm-rq-notes-img-container {
  // padding-top: 20px;
}
.sm-rq-notes-name {
  margin-bottom: 0px;
  margin-top: 0px;
}
.sm-rq-notes-time {
  font-size: 10px;
  margin-top: 5px;
  margin-bottom: 0px;
}
.sm-rq-notes-text {
  font-size: 14px;
  margin-top: 5px;
}
.sm-rq-notes-btn-add-new {
  height: 35px;
  margin-top: 20px;
}
.nearest-driver-item {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 10px;
  padding-right: 20px;
  margin-bottom: 15px;
}
.nearest-driver-name {
  margin-top: 10px;
  margin-bottom: 0px;
}
.nearest-driver-distance {
  margin: 0;
  font-size: 11px;
}
.nearest-driver-distance .number{
  font-weight: bold;
}
.sm-user-gravatar.nearest-driver {
  height: 40px;
  width: 40px;
  margin-top: 5px;
  margin-right: 30px;
}
.delete-note-btn {
  margin-top: 27px;
}

/** Request cards **/
.sm-rq-filter-item-card {
  text-align: center;
  width: 150px;
  height: 100px;
  cursor: pointer;
  outline: none;
  margin-right: 20px;
}
.sm-rq-filter-item-title {
  font-size: 14px !important;
}
.sm-rq-filter-item-btn {
  padding: 0;
  margin: 0;
}
.sm-rq-filter-item-icon {
  height: 50px;
}
