<div class="sm-req-filters-container" layout="column">
  <div class="" layout="row">
    <md-card class="sm-rq-filter-item-card bg-color-shade-1" ng-style="viewName =='pending' && {'border':'3px solid white'}" ng-click="changeRequestsTab('app.requests.pending')">
      <md-card-content>
        <span class="lnr lnr-clock"></span>
        <h2 class="sm-rq-filter-item-title">Pending</h2>
      </md-card-content>
    </md-card>
    <md-card class="sm-rq-filter-item-card bg-color-shade-2" ng-style="viewName =='assigned' && {'border':'3px solid white'}" ng-click="changeRequestsTab('app.requests.assigned')">
      <md-card-content>
        <span class="lnr lnr-sync"></span>
        <h2 class="sm-rq-filter-item-title">Assigned</h2>
      </md-card-content>
    </md-card>
    <md-card class="sm-rq-filter-item-card bg-color-shade-3" ng-style="viewName == 'in_progress' && {'border':'3px solid white'}" ng-click="changeRequestsTab('app.requests.in_progress')">
      <md-card-content>
        <span class="lnr lnr-rocket"></span>
        <h2 class="sm-rq-filter-item-title">Delivering</h2>
      </md-card-content>
    </md-card>
    <md-card class="sm-rq-filter-item-card bg-color-shade-4" ng-style="viewName =='declined' && {'border':'3px solid white'}"  ng-click="changeRequestsTab('app.requests.declined')">
      <md-card-content>
        <span class="lnr lnr-warning"></span>
        <h2 class="sm-rq-filter-item-title">Declined</h2>
      </md-card-content>
    </md-card>
    <md-card class="sm-rq-filter-item-card bg-color-shade-5" ng-style="viewName =='completed' && {'border':'3px solid white'}" ng-click="changeRequestsTab('app.requests.completed')">
      <md-card-content>
        <span class="lnr lnr-thumbs-up"></span>
        <h2 class="sm-rq-filter-item-title">Completed</h2>
      </md-card-content>
    </md-card>
    <md-card class="sm-rq-filter-item-card bg-color-shade-6" ng-style="viewName =='local' && {'border':'3px solid white'}" ng-click="changeRequestsTab('app.requests.local')">
      <md-card-content>
        <span class="lnr lnr-map-marker"></span>
        <h2 class="sm-rq-filter-item-title">Local</h2>
      </md-card-content>
    </md-card>
    <md-card class="sm-rq-filter-item-card bg-color-shade-7" ng-style="viewName =='foreign' && {'border':'3px solid white'}" ng-click="changeRequestsTab('app.requests.foreign')">
      <md-card-content>
        <span class="lnr lnr-earth"></span>
        <h2 class="sm-rq-filter-item-title">Foreign</h2>
      </md-card-content>
    </md-card>
    <md-card class="sm-rq-filter-item-card bg-color-shade-1" ng-style="viewName =='equipment' && {'border':'3px solid white'}" ng-click="changeRequestsTab('app.requests.equipment')">
      <md-card-content>
        <span class="lnr lnr-train"></span>
        <h2 class="sm-rq-filter-item-title">Equipment</h2>
      </md-card-content>
    </md-card>
    <md-card class="sm-rq-filter-item-card bg-color-shade-8" ng-style="viewName =='cancelled' && {'border':'3px solid white'}" ng-click="changeRequestsTab('app.requests.cancelled')">
      <md-card-content>
        <span class="lnr lnr-cross-circle"></span>
        <h2 class="sm-rq-filter-item-title">Cancelled</h2>
      </md-card-content>
    </md-card>
  </div>

  <div class="" layout="row">
    <md-card class="sm-rq-filter-item-card bg-color-shade-3" ng-style="viewName =='business' && {'border':'3px solid white'}" ng-click="changeRequestsTab('app.requests.business')">
      <md-card-content>
        <span class="lnr lnr-apartment"></span>
        <h2 class="sm-rq-filter-item-title">Business</h2>
      </md-card-content>
    </md-card>
    <md-card class="sm-rq-filter-item-card bg-color-shade-2" ng-style="viewName =='individual' && {'border':'3px solid white'}" ng-click="changeRequestsTab('app.requests.individual')">
      <md-card-content>
        <span class="lnr lnr-users"></span>
        <h2 class="sm-rq-filter-item-title">Individual</h2>
      </md-card-content>
    </md-card>
  </div>
</div>
