<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button"
                   aria-label="Menu Button"
                   hide-gt-md
                   ng-click="onClickMenu();">
            <md-icon
                    md-svg-icon="assets/icons/menu.svg"
                    aria-label="Menu Icon">
            </md-icon>
        </md-button>

        <h2 ng-if="authenticatedUser.user_type == 'admin'">All Trending Questions</h2>
        <h2 ng-if="authenticatedUser.user_type != 'admin'">{{authenticatedUser.subject.subject_name}} Go Trending Questions</h2>

        <span flex></span>
    </div>
</md-toolbar>

<div ng-show="filteringQuestions" class="top-progress-bar" layout="row">
  <md-progress-linear md-mode="indeterminate"></md-progress-linear>
</div>

<div class="sm-main-container">

  <div ng-if="!goTrendingQuestionsLoaded" layout="row" layout-align="center center" style="min-height: 80vh;">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div>

  <div ng-if="goTrendingQuestionsLoaded">
    <div layout="row">
      <md-input-container flex="20" style="margin-left: 10px;">
        <label>Filber by Subject</label>
        <md-select ng-model="selectedSubject" ng-model-options="{trackBy: '$value.id'}" ng-change="filterBySubject(selectedSubject)" aria-label="filter by subject" ng-disabled="authenticatedUser.user_type != 'admin'">
          <md-option ng-repeat="subject in subjects" ng-value="subject">
            {{subject.subject_name}}
          </md-option>
        </md-select>
      </md-input-container>

      <md-input-container flex="20" flex-offset="5">
        <label>Filter by Date</label>
        <input type="text" moment-picker="date" max-view="day" ng-model="date" change="filterByWeek(oldValue, newValue)" autocomplete="off">
      </md-input-container>
    </div>

    <div>
      <md-card class="sm-trending-question-card">
        <md-card-content>
          <h3 class="sm-trending-question-title"><span><i class="material-icons">insert_chart</i></i></span>  Trending Question:</h3>
          <p ng-if="!trendingQuestion">No trending question was asked this week</p>
        </md-card-content>
        <div ng-if="trendingQuestion">
          <md-card-content>
            <p class="sm-trending-question-body">{{trendingQuestion.question_in_text}}</p>
          </md-card-content>

          <div layout="row" class="sm-trending-question-footer">
            <img ng-if="trendingQuestion.asked_by.display_pictures_urls" class="sm-trending-question-avatar" ng-src="{{splitDisplayPicUrl(trendingQuestion.asked_by.display_pictures_urls)}}" alt=""/>
            <img ng-if="!trendingQuestion.asked_by.display_pictures_urls" class="sm-trending-question-avatar" gravatar-src="'authenticatedUser.email'" gravatar-size="200"/>
            <div layout="column">
              <p class="sm-trending-qtn-name">{{trendingQuestion.asked_by.first_name}} {{trendingQuestion.asked_by.last_name}}</p>
              <p class="sm-trending-qtn-school">{{trendingQuestion.asked_by.school.school_name || 'Unknown School'}}</p>
            </div>
            <span flex></span>
            <md-button class="md-raised md-primary" href="#question/{{trendingQuestion.id}}" aria-label="description" md-ripple-size="full">
              <i class="material-icons">remove_red_eye</i>
              View Question Details
            </md-button>
            <md-button ng-if="authenticatedUser.user_type == 'admin'" class="md-raised md-warn" aria-label="description" md-ripple-size="full" ng-click="deleteQuestion($event, trendingQuestion)">
              <i class="material-icons">delete_forever</i>
            </md-button>
          </div>
        </div>

      </md-card>

      <md-card>
        <md-card-content>
          <h3 class="sm-trending-question-title"><span><i class="material-icons">insert_chart</i></i></span>  Other Questions:</h3>

          <div class="sm-other-qtn-card" ng-repeat="question in otherQuestions">
            <p class="sm-other-qtn-body">{{question.question_in_text}}</p>

            <div layout="row" class="sm-other-question-footer">
              <img class="sm-other-qtn-avatar" ng-if="question.asked_by.display_pictures_urls" ng-src="{{splitDisplayPicUrl(question.asked_by.display_pictures_urls)}}" />
              <img class="sm-other-qtn-avatar" ng-if="!question.asked_by.display_pictures_urls" gravatar-src="'{{question.asked_by.email}}'" gravatar-size="200"/>
              <div layout="column">
                <p class="sm-other-qtn-name">{{question.asked_by.first_name}} {{question.asked_by.last_name}}</p>
                <p class="sm-other-qtn-school">{{question.asked_by.school.school_name || 'Unknown School'}}</p>
              </div>
              <span flex></span>
              <md-button class="md-raised md-primary" href="#question/{{question.id}}" aria-label="description" md-ripple-size="full">
                <i class="material-icons">remove_red_eye</i>
              </md-button>
              <md-button ng-if="authenticatedUser.user_type == 'admin'" class="md-raised md-warn" aria-label="description" md-ripple-size="full" ng-click="deleteQuestion($event, question)">
                <i class="material-icons">delete_forever</i>
              </md-button>
            </div>
          </div>

          <p ng-if="otherQuestions.length == '0'">No other questions asked this week</p>
        </md-card-content>
      </md-card>
    </div>
  </div>

</div>
