// GO TRENDING DASHBOARD
.sm-winner-trender-card {
  text-align: center;
  padding-top: 40px;
  position: relative;
  height: 450px;

  .sm-winner-trender-subject {
    background-color: #ff7043;
    color: white;
    font-size: 14px;
    padding: 2px 10px;
    position: absolute;
    top: 8px;
    left: -1px;
  }
  .sm-winner-trender-answered {
    background-color: #4CAF50;
    color: white;
    font-size: 14px;
    padding: 2px 10px;
    width: 86px;
    margin-left: auto;
    margin-right: auto;
  }
  .sm-winner-trender-avatar {
    width: 150px;
    border-radius: 50%;
  }
  .sm-winner-trender-name {
    margin-bottom: 5px;
    font-size: 24px;
  }
  .sm-winner-trender-school {
    font-size: 10px;
  }
  .sm-winner-trender-followers {
    font-size: 12px;
    font-weight: bold;
    margin: 0px;
  }
  .sm-winner-trender-card-divider {
    border-bottom: #7a7a7a solid 0.5px;
    margin: 20px;
  }
  .sm-winner-trender-question {
    font-size: 14px;
  }

  .md-button {
    position: absolute;
    top: 450px;
    width: 120px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

// ALL TRENDING QUESTIONS PAGE
.sm-trending-question-card {
  margin-bottom: 30px;
}
.sm-trending-question-title {
  border-bottom: solid 1px #e0e0e0;
  padding-bottom: 15px;
  color: #606060;
  margin-bottom: 0px;
}
.sm-trending-question-body {
  font-size: 30px;
  color: #606060;
}
.sm-trending-question-footer {

  border-top: 1px solid #e0e0e0;
  padding: 5px 0px 5px 0px;
  margin: 15px 15px 0px 15px;

  .sm-trending-question-avatar {
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
  }
  .sm-trending-qtn-name {
    margin: 2px 0px 5px;
    font-size: 16px;
  }
  .sm-trending-qtn-school {
    margin: 0px;
    font-size: 12px;
  }

  .md-button {
    height: 15px;
  }
}


.sm-other-qtn-card {
  border: 1px solid #e0e0e0;
  padding: 15px;
  margin-bottom: 15px;

  .sm-other-qtn-body {

  }
  .sm-other-qtn-avatar {
    height: 30px;
    border-radius: 50%;
  }
  .sm-other-qtn-avatar {
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
  }
  .sm-other-qtn-name {
    margin: 2px 0px 5px;
    font-size: 16px;
  }
  .sm-other-qtn-school {
    margin: 0px;
    font-size: 12px;
  }
  .sm-other-question-footer {
    border-top: 1px solid #e0e0e0;
    padding-top: 10px;
  }
}
.sm-question-answer-image {
  margin-top: 20px;
}

.flex-grid {
  display: flex;
  // justify-content: space-between;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.flex-grid .col {
  width: 25%;
}

@media (max-width: 400px) {
  .flex-grid {
    display: block;
    .col {
      width: 100%;
      margin: 0 0 10px 0;
    }
  }
}
