<div class="login-page" layout="column" layout-align="center center">
  <md-card class="login-page-card">
    <div class="" layout="row">
      <div class="login-page-left" flex="50" flex-sm="100">
        <img class="main-logo" src="../assets/images/logo_white.png" alt="" height="25" style="margin-left:0px;">
        <h2>Admin Back Office Login!</h2>
        <p>Welcome to Klloyd's admin back office.</p>
        <p class="login-page-left-small-text">Don't have an account? This is a private system, if you're a staff member, contact the administrator to create an account for you.</p>
      </div>
      <div class="login-page-right" flex="50" flex-sm="100">
        <md-progress-linear class="login-progressbar" md-mode="indeterminate" ng-disabled="!enableProgressBar"></md-progress-linear>

        <div class="login-page-right-inner">
          <form ng-if="resetShowing == false" name="loginForm" class="sm-signup-form" ng-submit="loginUser(loginForm.$valid)" novalidate>

            <div layout="row">
              <md-input-container style="width:450px;">
                <label>Email address</label>
                <input type="email" ng-model="user.email" required>
              </md-input-container>
            </div>
            <div layout="row">
              <md-input-container style="width:450px;">
                <label>Password</label>
                <input type="password" ng-model="user.password" required>
              </md-input-container>
            </div>

            <div layout="column" layout-align="center center">
              <md-button type="submit" class="md-raised md-accent" aria-label="Login" ng-disabled="loginForm.$invalid" md-ripple-size="full">
                Login
                <i class="material-icons">arrow_forward</i>
              </md-button>
            </div>

            <div layout="row" layout-align="center center">
              <h4 class="login-reset-password" ng-click="flipForm()">Forgot password? Reset!</h4>
            </div>
          </form>

          <form ng-if="resetShowing == true" name="resetPasswordForm" class="sm-signup-form" ng-submit="restPassword(resetPasswordForm.$valid)" novalidate>
            <md-progress-linear class="login-progressbar" md-mode="indeterminate" ng-disabled="!enableProgressBar"></md-progress-linear>

            <div layout="row">
              <md-input-container style="width:450px;">
                <label>Enter your email address to reset</label>
                <input type="email" ng-model="user.email" required>
              </md-input-container>
            </div>

            <div layout="column" layout-align="center center">
              <md-button type="submit" class="md-raised md-accent" aria-label="Login" ng-disabled="resetPasswordForm.$invalid" md-ripple-size="full">
                Reset Password
                <i class="material-icons">arrow_forward</i>
              </md-button>
            </div>

            <div layout="row" layout-align="center center">
              <h4 class="login-reset-password" ng-click="flipForm()">Already have an account? Login!</h4>
            </div>

          </form>
        </div>
      </div>
    </div>
  </md-card>
</div>
