.login-page {
  height: 100vh;
  background-image: url('../assets/patterns/brickwall.png');
}
.login-page-card {
  width: 60%;
  height: 50vh;
}
.login-page-right-inner {
  padding: 5%;
  overflow: scroll;
}
.login-page-left {
  background-color: $primary-color;
  color: white;
  padding: 5%;
  height: 50vh;
  overflow: scroll;
}
.login-page-left-small-text {
  font-size: 12px;
}
.login-reset-password {
  cursor: pointer;
}
.login-reset-password:hover {
  color: $primary-color;
}
