.login-page {
  height: 100vh;
  background-image: url('../assets/patterns/brickwall.png');
}
.login-page-card {
  width: 60%;
  height: 50vh;
}
.login-page-right {
  padding: 5%;
}
.login-page-left {
  background-color: #F4511E;
  color: white;
  padding: 5%;
  height: 50vh;
}
.login-page-left-small-text {
  font-size: 12px;
}
.login-reset-password {
  cursor: pointer;
}
.login-reset-password:hover {
  color: #019AD6;
}
