<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button"
             aria-label="Menu Button"
             hide-gt-md
             ng-click="onClickMenu();">
            <md-icon
              md-svg-icon="assets/icons/menu.svg"
              aria-label="Menu Icon">
            </md-icon>
        </md-button>

        <h2>Consultants</h2>

        <span flex></span>
        <md-button class="md-raised md-accent" ng-disabled="false" aria-label="description"  md-ripple-size="full" ng-click="showAddConsultantDialog($event)" style="width:150px;">Add Consultant</md-button>
    </div>
</md-toolbar>

<div class="sm-main-container">

  <div ng-if="!consultantsLoaded" layout="row" layout-align="center center" style="min-height: 80vh;">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div>

  <div ng-if="consultantsLoaded"  ng-repeat="consultant in consultants.data" >
    <md-card class="sm-consultant-card" ng-if="consultant.is_deleted != '1'">
      <md-card-content class="sm-consultant-content">
        <div layout="column" layout-gt-xs="row" layout-align-xs="center center">
          <div class="sm-consultant-avatar" ng-if="consultant.display_pictures_urls" background-img="{{splitDisplayPicUrl(consultant.display_pictures_urls)}}"></div>
          <img class="sm-consultant-avatar" ng-if="!consultant.display_pictures_urls" gravatar-src="'consultant.email'" gravatar-size="200"/>

          <div layout="column">
            <h4 class="sm-consultant-name" style="color: black;">{{consultant.first_name}} {{consultant.last_name}}</h4>
            <div class="sm-consultant-profile-except" ng-bind-html="consultant.user_profile | words:50 :false">
            </div>
          </div>
        </div>
      </md-card-content>
      <md-card-footer layout="column" layout-gt-sm="row" layout-align-xs="center center" class="sm-consultant-footer">
        <p ng-if="consultant.type_of_consultant == 'chief_examiner'" class="sm-consultant-footer-metadata" flex-gt-xs="18"><span><i class="material-icons">assignment_ind</i></span>    Chief Examiner</p>
        <p ng-if="consultant.type_of_consultant == 'normal_examiner'" class="sm-consultant-footer-metadata" flex-gt-xs="18"><span><i class="material-icons">assignment_ind</i></span>    Normal Examiner</p>
        <p class="sm-consultant-footer-metadata" flex-gt-xs="18"><span><i class="material-icons">library_books</i></span>  {{consultant.subject.subject_name}}</p>
        <p class="sm-consultant-footer-metadata"flex-gt-xs="18"><span><i class="material-icons">schedule</i></span>  Added: {{(consultant.created_at | date:"MMMM d, y 'at ' h:mma") || ' Unknown Date' }}</p>

        <span flex></span>

        <div layout="row" layout-align-xs="center center">
          <md-button class="md-raised md-primary" aria-label="description" md-ripple-size="full" ng-click="viewConsultantDetails($event, consultant)">
            <md-tooltip md-direction="top">
              View {{consultant.first_name}} {{consultant.last_name}}'s details
            </md-tooltip>
            <i class="material-icons">remove_red_eye</i>
          </md-button>
          <md-button class="md-raised md-accent" aria-label="description" md-ripple-size="full" ng-click="showEditConsultantDialog($event, consultant)">
            <md-tooltip md-direction="top">
              Edit {{consultant.first_name}} {{consultant.last_name}}'s details
            </md-tooltip>
            <i class="material-icons">mode_edit</i>
          </md-button>
          <md-button class="md-raised md-warn" aria-label="description" md-ripple-size="full" ng-click="deleteConsultant($event, consultant)">
            <md-tooltip md-direction="top">
              Delete {{consultant.first_name}} {{consultant.last_name}}
            </md-tooltip>
            <i class="material-icons">delete_forever</i>
          </md-button>
        </div>
      </md-card-footer>
    </md-card>
  </div>

</div>
