<md-dialog aria-label="Add Consultant">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add New Driver</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="closeDialog()">
          <i class="material-icons">close</i>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="sm-modal-content" style="width:700px;">
      <div ng-if="loadingRequiredData" layout="row" layout-align="center center" style="min-height: 40vh;">
        <md-progress-circular md-mode="indeterminate" md-diameter="48"></md-progress-circular>
      </div>

      <div ng-show="!loadingRequiredData">
        <div class="" layout="row">
          <md-input-container class="sm-input-container">
            <label>First Name</label>
            <input type="text" ng-model="newDriver.vehicle_name">
          </md-input-container>

          <md-input-container class="sm-input-container">
            <label>Last Name</label>
            <input type="text" ng-model="newDriver.vehicle_name">
          </md-input-container>
        </div>

        <md-input-container class="sm-input-container">
          <label>Username</label>
          <input type="text" ng-model="newDriver.username">
        </md-input-container>

        <md-input-container class="sm-input-container">
          <label>Phone Number</label>
          <input type="text" ng-model="newDriver.phone_number">
        </md-input-container>

        <md-input-container class="sm-input-container">
          <label>Password</label>
          <input type="text" ng-model="newDriver.password">
        </md-input-container>

        <md-input-container class="sm-input-container">
          <label>Assign Vehicle</label>
          <input type="text" ng-model="newDriver.vehicle_registration_number">
        </md-input-container>

        <h4 class="sm-custom-input-label">Driver Image</h4>
        <div class="sm-dropzone" ngf-select="uploadProfileImage($file)" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB">
          <div ng-if="uploadingImage" layout="column" layout-align="center center" style="min-height: 100px;">
            <md-progress-circular md-mode="determinate" value="{{uploadProgress}}"></md-progress-circular>
            <p>Uploading Image: {{uploadProgress}}% complete</p>
          </div>
          <div ng-if="!uploadingImage" layout="column" layout-align="center center">
            <i class="material-icons md-24">backup</i>
            <p ng-if="!newDriver.driver_image">Click here to select an image</p>
            <p ng-if="newDriver.driver_image">Click here to change image</p>

            <div class="" ng-if="newDriver.driver_image" style="max-width:700px">
              <img style="width: 400px; height: auto;" ng-src="{{newDriver.driver_image}}" alt="Answer Image Preview">
            </div>
          </div>
        </div>

        <md-input-container class="md-block">
          <label>Driver Profile</label>
          <textarea ui-tinymce ng-model="newDriver.driver_profile" aria-label="Consultant Profile" md-select-on-focus rows="3"></textarea>
        </md-input-container>
      </div>

    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="closeDialog()" class="md-raised md-warn">
        Cancel
      </md-button>
      <md-button ng-click="addConsultant()" class="md-raised md-accent">
        Add Driver
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
