<md-dialog aria-label="add new driver">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add New Driver</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="closeDialog()">
          <i class="material-icons">close</i>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="sm-modal-content" style="width:700px;">
      <div ng-if="loadingRequiredData || addingDriver" layout="row" layout-align="center center" style="min-height: 40vh;">
        <md-progress-circular md-mode="indeterminate" md-diameter="48"></md-progress-circular>
      </div>

      <div ng-show="!loadingRequiredData && !addingDriver">
        <div class="" layout="row">
          <md-input-container class="sm-input-container">
            <label>First Name</label>
            <input type="text" ng-model="newDriver.first_name">
          </md-input-container>

          <md-input-container class="sm-input-container">
            <label>Last Name</label>
            <input type="text" ng-model="newDriver.last_name">
          </md-input-container>
        </div>

        <md-input-container class="sm-input-container">
          <label>Username</label>
          <input type="text" ng-model="newDriver.username">
        </md-input-container>

        <md-input-container class="sm-input-container">
          <label>Phone Number</label>
          <input type="text" ng-model="newDriver.phone_number">
        </md-input-container>

        <md-input-container class="sm-input-container">
          <label>Password</label>
          <input type="password" ng-model="newDriver.password" autocomplete="new-password">
        </md-input-container>

        <h4 class="sm-custom-input-label">Driver Image</h4>
        <div class="sm-dropzone" ngf-select="uploadItem($file, 'user_profile_image_url', 'profile', 'image', true)" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB">
          <div ng-if="uploading_user_profile_image_url" layout="column" layout-align="center center" style="min-height: 100px;">
            <md-progress-circular md-mode="determinate" value="{{user_profile_image_url_progress}}"></md-progress-circular>
            <p>Uploading Image: {{user_profile_image_url_progress}}% complete</p>
          </div>
          <div ng-if="!uploading_user_profile_image_url" layout="column" layout-align="center center">
            <i class="material-icons md-24">backup</i>
            <p ng-if="!newDriver.user_profile_image_url">Click here to select an image</p>
            <p ng-if="newDriver.user_profile_image_url">Click here to change image</p>

            <div class="" ng-if="newDriver.user_profile_image_url" style="max-width:700px">
              <img style="width: 400px; height: auto;" ng-src="{{newDriver.user_profile_image_url}}" alt="Answer Image Preview">
            </div>
          </div>
        </div>

        <h4 class="sm-custom-input-label">Driver Profile Description</h4>
        <md-input-container class="md-block">
          <textarea ui-tinymce ng-model="newDriver.user_profile_description" aria-label="Consultant Profile" md-select-on-focus rows="3"></textarea>
        </md-input-container>

        <h2>Documents</h2>

        <h4 class="sm-custom-input-label">Driver's License</h4>
        <div class="sm-dropzone" ngf-select="uploadItem($file, 'drivers_licence', 'license', 'document', true)" name="file" ngf-max-size="20MB">
          <div ng-if="uploading_drivers_licence" layout="column" layout-align="center center" style="min-height: 100px;">
            <md-progress-circular md-mode="determinate" value="{{drivers_licence_progress}}"></md-progress-circular>
            <p>Uploading License: {{drivers_licence_progress}}% complete</p>
          </div>
          <div ng-if="!uploading_drivers_licence" layout="column" layout-align="center center">
            <i class="material-icons md-24">backup</i>
            <p ng-if="!newDriver.drivers_licence">Click here to select an image</p>
            <p ng-if="newDriver.drivers_licence">Click here to change image</p>

            <div class="" ng-if="newDriver.drivers_licence" style="max-width:700px">
              <p>Driver's license attached.</p>
            </div>
          </div>
        </div>

        <h4 class="sm-custom-input-label">Driver's Insurance</h4>
        <div class="sm-dropzone" ngf-select="uploadItem($file, 'drivers_insurance', 'insurance', 'document', true)" name="file" ngf-max-size="20MB">
          <div ng-if="uploading_drivers_insurance" layout="column" layout-align="center center" style="min-height: 100px;">
            <md-progress-circular md-mode="determinate" value="{{drivers_insurance_progress}}"></md-progress-circular>
            <p>Uploading Insurance: {{drivers_insurance_progress}}% complete</p>
          </div>
          <div ng-if="!uploading_drivers_insurance" layout="column" layout-align="center center">
            <i class="material-icons md-24">backup</i>
            <p ng-if="!newDriver.drivers_insurance">Click here to select an image</p>
            <p ng-if="newDriver.drivers_insurance">Click here to change image</p>

            <div class="" ng-if="newDriver.drivers_insurance" style="max-width:700px">
              <p>Driver's insurance attached</p>
            </div>
          </div>
        </div>

        <h4 class="sm-custom-input-label">Driver's Vehicle Photo</h4>
        <div class="sm-dropzone" ngf-select="uploadItem($file, 'drivers_vehicle_photo', 'vehicle', 'image', true)" name="file" ngf-max-size="20MB">
          <div ng-if="uploading_drivers_vehicle_photo" layout="column" layout-align="center center" style="min-height: 100px;">
            <md-progress-circular md-mode="determinate" value="{{drivers_vehicle_photo_progress}}"></md-progress-circular>
            <p>Uploading Vehicle Photo: {{drivers_vehicle_photo_progress}}% complete</p>
          </div>
          <div ng-if="!uploading_drivers_vehicle_photo" layout="column" layout-align="center center">
            <i class="material-icons md-24">backup</i>
            <p ng-if="!newDriver.drivers_vehicle_photo">Click here to select an image</p>
            <p ng-if="newDriver.drivers_vehicle_photo">Click here to change image</p>

            <div class="" ng-if="newDriver.drivers_vehicle_photo" style="max-width:700px">
              <img style="width: 400px; height: auto;" ng-src="{{newDriver.drivers_vehicle_photo}}" alt="Answer Image Preview">
            </div>
          </div>
        </div>

        <h4 class="sm-custom-input-label">Vehicle Registration Documents</h4>
        <div class="sm-dropzone" ngf-select="uploadItem($file, 'drivers_vehicle_registration', 'registration', 'document', true)" name="file" ngf-max-size="20MB">
          <div ng-if="uploading_drivers_vehicle_registration" layout="column" layout-align="center center" style="min-height: 100px;">
            <md-progress-circular md-mode="determinate" value="{{drivers_vehicle_registration_progress}}"></md-progress-circular>
            <p>Uploading Document: {{drivers_vehicle_registration_progress}}% complete</p>
          </div>
          <div ng-if="!uploading_drivers_vehicle_registration" layout="column" layout-align="center center">
            <i class="material-icons md-24">backup</i>
            <p ng-if="!newDriver.drivers_vehicle_registration">Click here to select an image</p>
            <p ng-if="newDriver.drivers_vehicle_registration">Click here to change image</p>

            <div class="" ng-if="newDriver.drivers_vehicle_registration" style="max-width:700px">
              Registration documents are attached.
            </div>
          </div>
        </div>
      </div>

    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="closeDialog()" class="md-raised md-danger">
        Cancel
      </md-button>
      <md-button ng-click="addDriver()" class="md-raised md-accent">
        Add Driver
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
