<md-dialog aria-label="Add driver">
  <form>
    <md-dialog-content class="sm-modal-content" style="width:1000px; padding:0px;">
      <div class="driver-info-section" layout="row">
        <div class="sm-driver-info-column left" flex="50">
          <div class="sm-driver-header" layout="column" layout-align="center center" background-img="{{selectedDriver.user_profile_image_url}}">
            <div class="sm-driver-dp" ng-if="selectedDriver.user_profile_image_url" background-img="{{selectedDriver.user_profile_image_url}}"></div>
            <img class="sm-driver-dp" ng-if="!selectedDriver.user_profile_image_url" gravatar-src="'selectedDriver.email'" gravatar-size="200"/>
            <h1 class="sm-driver-name">{{selectedDriver.first_name}} {{selectedDriver.last_name}}</h1>
            <!-- <h4 class="sm-driver-school">Driver</h4> -->
          </div>

          <h3>Contact Info</h3>
          <p class="sm-cs-info-contact"><i class="material-icons">phone_android</i>  {{selectedDriver.phone_number || 'No phone number'}}</p>

          <p class="sm-cs-info-contact"><i class="material-icons">mail_outline</i>  {{selectedDriver.email || 'No email address'}}</p>

          <h3>Profile Description</h3>
          <div class="driver-profile-description" ng-bind-html="selectedDriver.user_profile_description"></div>
          <p ng-if="!selectedDriver.user_profile_description">No profile description available</p>
        </div>

        <div class="sm-driver-info-column right" flex="50">
          <h3>Documents</h3>
          <div class="" layout="row">
            <div ng-if="selectedDriver.drivers_insurance" class="driver-document-icon" layout="column" layout-align="center center" ng-click="openDriverDoc(selectedDriver.drivers_insurance)">
              <i class="material-icons">description</i>
              Insurance
            </div>

            <div ng-if="selectedDriver.drivers_vehicle_registration" class="driver-document-icon" layout="column" layout-align="center center" ng-click="openDriverDoc(selectedDriver.drivers_vehicle_registration)">
              <i class="material-icons">description</i>
              Registration
            </div>

            <p ng-if="!selectedDriver.drivers_insurance && !selectedDriver.drivers_vehicle_registration && !selectedDriver.drivers_licence">No documents attached</p>
          </div>
          <div ng-if="selectedDriver.drivers_licence" class="driver-license">
            <img ng-if="authenticatedUser.admin_type == 'super'" class="driver-license-img" ng-src="{{selectedDriver.drivers_licence}}" alt="License">
            <p ng-if="authenticatedUser.admin_type != 'super'">You do not have permission to view this document</p>
          </div>
          <div class="driver-doc">

          </div>
        </div>
      </div>
      <div class="driver-view-map-container">
        <ng-map
          id="driverLocationMap"
          default-style="true" center="{{selectedDriver.user_current_latitude}},{{selectedDriver.user_current_longitude}}"
          zoom="14"
          scrollwheel="false"
          style="height:80vh"
          >
          <marker id="currentPosition"
            position="{{selectedDriver.user_current_latitude}},{{selectedDriver.user_current_longitude}}"
            on-click="map.showInfoWindow('positionInfo')">
          </marker>
          <info-window id="positionInfo" visible-on-marker="currentPosition">
            <div ng-non-bindable>
              <div id="siteNotice"></div>
              <div id="bodyContent">
                <p>{{selectedDriver.first_name}} {{selectedDriver.last_name}}'s current location:</p>
              </div>
              <h1 id="firstHeading" class="driver-location-name">{{selectedDriver.current_location_name}}</h1>
            </div>
          </info-window>
        </ng-map>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="closeDialog()" class="md-raised md-primary">
        Close
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
