<md-dialog aria-label="Add Consultant">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add New Rental Equipment</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="closeDialog()">
          <i class="material-icons">close</i>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="sm-modal-content" style="width:700px;">
      <div ng-if="loadingRequiredData || addingEquipment" layout="row" layout-align="center center" style="min-height: 40vh;">
        <md-progress-circular md-mode="indeterminate" md-diameter="48"></md-progress-circular>
      </div>

      <div ng-show="!loadingRequiredData && !addingEquipment">

        <md-input-container class="sm-input-container">
          <label>Equipment Name</label>
          <input type="text" ng-model="newEquipment.equipment_name">
        </md-input-container>

        <md-input-container class="sm-input-container">
          <label>Equipment Category</label>
          <md-select ng-model="newEquipment.equipment_category">
            <md-option value="oil_and_gas">Oil and Gas</md-option>
            <md-option value="construction">Construction</md-option>
            <md-option value="mining">Mining</md-option>
            <md-option value="domestic">Domestic Equipment</md-option>
            <md-option value="vehicle">Vehicles</md-option>
            <md-option value="others">Others</md-option>
          </md-select>
        </md-input-container>

        <md-input-container class="sm-input-container">
          <place-autocomplete label="Equipment Location" ng-model="equipmentLocation"></place-autocomplete>
        </md-input-container>

        <md-input-container class="sm-input-container">
          <label>Equipment Price/Day (This should be a number)</label>
          <input type="text" ng-model="newEquipment.equipment_price_per_day">
        </md-input-container>

        <h4 class="sm-custom-input-label">Equipment Image</h4>
        <div class="sm-dropzone" ngf-select="uploadItem($file, 'equipment_image', 'equipment_image', 'image')" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB">
          <div ng-if="uploading_equipment_image" layout="column" layout-align="center center" style="min-height: 100px;">
            <md-progress-circular md-mode="determinate" value="{{equipment_image_progress}}"></md-progress-circular>
            <p>Uploading Image: {{equipment_image_progress}}% complete</p>
          </div>
          <div ng-if="!uploading_equipment_image" layout="column" layout-align="center center">
            <i class="material-icons md-24">backup</i>
            <p ng-if="!newEquipment.equipment_image">Click here to select an image</p>
            <p ng-if="newEquipment.equipment_image">Click here to change image</p>

            <div class="" ng-if="newEquipment.equipment_image" style="max-width:700px">
              <img style="width: 400px; height: auto;" ng-src="{{newEquipment.equipment_image}}" alt="Equipment Image Preview">
            </div>
          </div>
        </div>

        <h4 class="sm-custom-input-label">Equipment Description</h4>
        <md-input-container class="md-block">
          <textarea ui-tinymce ng-model="newEquipment.equipment_description" aria-label="equipment description" md-select-on-focus rows="3"></textarea>
        </md-input-container>

        <h4 class="sm-custom-input-label">Terms and Conditions</h4>
        <md-input-container class="md-block">
          <textarea ui-tinymce ng-model="newEquipment.terms_and_conditions" aria-label="equipment description" md-select-on-focus rows="3"></textarea>
        </md-input-container>

        <h4 class="sm-custom-input-label">Equipment Insurance</h4>
        <div class="sm-dropzone" ngf-select="uploadItem($file, 'equipment_insurance_docs', 'insurance', 'document')" name="file" ngf-max-size="20MB">
          <div ng-if="uploading_equipment_insurance_docs" layout="column" layout-align="center center" style="min-height: 100px;">
            <md-progress-circular md-mode="determinate" value="{{equipment_insurance_docs_progress}}"></md-progress-circular>
            <p>Uploading Insurance: {{equipment_insurance_docs_progress}}% complete</p>
          </div>
          <div ng-if="!uploading_equipment_insurance_docs" layout="column" layout-align="center center">
            <i class="material-icons md-24">backup</i>
            <p ng-if="!newEquipment.equipment_insurance_docs">Click here to select an image</p>
            <p ng-if="newEquipment.equipment_insurance_docs">Click here to change image</p>

            <div class="" ng-if="newEquipment.equipment_insurance_docs" style="max-width:700px">
              <p>Equipment insurance attached</p>
            </div>
          </div>
        </div>

        <h4 class="sm-custom-input-label">Equipment Registration Documents</h4>
        <div class="sm-dropzone" ngf-select="uploadItem($file, 'equipment_registration_docs', 'registration', 'document')" name="file" ngf-max-size="20MB">
          <div ng-if="uploading_equipment_registration_docs" layout="column" layout-align="center center" style="min-height: 100px;">
            <md-progress-circular md-mode="determinate" value="{{equipment_registration_docs_progress}}"></md-progress-circular>
            <p>Uploading Document: {{equipment_registration_docs_progress}}% complete</p>
          </div>
          <div ng-if="!uploading_equipment_registration_docs" layout="column" layout-align="center center">
            <i class="material-icons md-24">backup</i>
            <p ng-if="!newEquipment.equipment_registration_docs">Click here to select an image</p>
            <p ng-if="newEquipment.equipment_registration_docs">Click here to change image</p>

            <div class="" ng-if="newEquipment.equipment_registration_docs" style="max-width:700px">
              Registration documents are attached.
            </div>
          </div>
        </div>
      </div>

    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="closeDialog()" class="md-raised md-danger">
        Cancel
      </md-button>
      <md-button ng-click="addEquipment()" class="md-raised md-accent">
        Add Equipment
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
