<md-dialog aria-label="Add Consultant">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Edit Your Profile Details</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="closeDialog()">
          <i class="material-icons">close</i>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="sm-modal-content" style="width:700px;">
      <div ng-if="updatingUser" layout="row" layout-align="center center" style="min-height: 40vh;">
        <md-progress-circular md-mode="indeterminate" md-diameter="30"></md-progress-circular>
      </div>

      <div ng-show="!updatingUser">
        <div layout="row">
          <md-input-container class="sm-input-container">
            <label>First Name</label>
            <input type="text" ng-model="user.first_name">
          </md-input-container>
          <md-input-container class="sm-input-container">
            <label>Last Name</label>
            <input type="text" ng-model="user.last_name">
          </md-input-container>
        </div>

        <div layout="row">
          <md-input-container class="sm-input-container">
            <label>Email Address</label>
            <input type="email" ng-model="user.email" ng-disabled="authenticatedUser.user_type != 'admin'">
          </md-input-container>

          <md-input-container class="sm-input-container">
            <label>Phone Number</label>
            <input type="text" ng-model="user.phone_number">
          </md-input-container>
        </div>

        <md-input-container class="sm-input-container">
          <label>Title</label>
          <input type="text" ng-model="user.user_profile_title">
        </md-input-container>

        <h4 class="sm-custom-input-label">Profile Picture</h4>
        <div class="sm-dropzone" ngf-select="uploadProfileImage($file)" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB">
          <div ng-if="uploadingImage" layout="column" layout-align="center center" style="min-height: 100px;">
            <md-progress-circular md-mode="determinate" value="{{uploadProgress}}"></md-progress-circular>
            <p>Uploading Image: {{uploadProgress}}% complete</p>
          </div>
          <div ng-if="!uploadingImage" layout="column" layout-align="center center">
            <i class="material-icons md-24">backup</i>
            <p ng-if="!user.user_profile_image_url">Click here to select an image</p>
            <p ng-if="user.user_profile_image_url">Click here to change image</p>

            <div class="" ng-if="user.user_profile_image_url" style="max-width:700px">
              <img style="width: 400px; height: auto;" ng-src="{{user.user_profile_image_url}}" alt="Answer Image Preview">
            </div>
          </div>
        </div>

        <h4 class="sm-custom-input-label">User Profile Description</h4>
        <md-input-container class="md-block">
          <textarea ui-tinymce ng-model="user.user_profile_description" aria-label="User Profile" rows="3" md-select-on-focus></textarea>
        </md-input-container>
      </div>

    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="closeDialog()" class="md-raised md-danger">
        Cancel
      </md-button>
      <md-button ng-click="updateUserDetails()" class="md-raised md-primary">
        Update
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
