<md-dialog aria-label="add online purchase request" ng-controller="OnlineRequestsController">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add Online Purchase Request</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="closeDialog()">
          <i class="material-icons">close</i>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="sm-modal-content" style="width:700px;">
      <div ng-if="loadingRequiredOnlineRequestData || addingRequest" layout="row" layout-align="center center" style="min-height: 40vh;">
        <md-progress-circular md-mode="indeterminate" md-diameter="30"></md-progress-circular>
      </div>

      <div ng-show="!loadingRequiredOnlineRequestData && !addingRequest">

        <div class="padded sm-req-online-info" md-whiteframe="3">
          <h5 class="sm-req-online-info-title">Important Info!</h5>
          <p>This is meant for shopping abroad when the online shop does not ship to Ghana. First, choose one of our warehouses below as an address which you'll use as your shipping address to make the purchase online. Once you've completed your purchase, fill the form below and expect your order at your doorstep in Ghana.</p>
        </div>

        <md-input-container class="sm-input-container" style="margin: 0;">
          <md-autocomplete flex
              md-input-name="customersAutocomplete"
              md-input-minlength="2"
              md-input-maxlength="18"
              md-no-cache="$scope.noCache"
              md-selected-item="data.selectedCustomer"
              md-search-text="searchText"
              md-items="customer in querySearch(searchText)"
              md-item-text="customer.full_name"
              md-floating-label="Enter customer name">
            <md-item-template>
              <span md-highlight-text="searchText">{{customer.full_name}} ({{customer.phone_number}})</span>
            </md-item-template>
          </md-autocomplete>
        </md-input-container>

        <md-input-container style="width:100%;">
          <label>Choose a warehouse location</label>
          <md-select ng-model="selectedWarehouse">
            <md-option ng-value="warehouse" ng-repeat="warehouse in warehouses.data">{{warehouse.name}}</md-option>
          </md-select>
        </md-input-container>

        <div class="sm-dropzone sm-req-address-info" ng-if="selectedWarehouse">
          <h5 class="sm-req-online-info-title">{{selectedWarehouse.name}}</h5>
          <p>{{selectedWarehouse.address_line_one}}</p>
          <p>{{selectedWarehouse.address_line_two}}</p>
          <p>{{selectedWarehouse.state}}</p>
          <p>{{selectedWarehouse.country}}</p>
        </div>

        <md-input-container class="sm-input-container">
          <label>Which online store are you buying from?</label>
          <md-select ng-model="newRequest.online_store">
            <md-option value="amazon">Amazon</md-option>
            <md-option value="alibaba">Alibaba</md-option>
            <md-option value="ebay">Ebay</md-option>
            <md-option value="other">Other</md-option>
          </md-select>
        </md-input-container>

        <md-input-container class="sm-input-container">
          <label>Enter order number</label>
          <input type="text" ng-model="newRequest.online_order_number">
        </md-input-container>

        <div class="" layout="row">
          <md-input-container class="sm-input-container">
            <label>Item Cost Currency</label>
            <md-select ng-model="newRequest.item_cost_currency">
              <md-option value="usd">United States Dollar (USD)</md-option>
              <md-option value="eur">Euro (EUR)</md-option>
              <md-option value="gbp">British Pound (GBP)</md-option>
              <md-option value="ghs">Ghanaian Cedi (GHS)</md-option>
              <md-option value="aud">Australian Dollar (AUD)</md-option>
              <md-option value="zar">South African Rand (ZAR)</md-option>
              <md-option value="cny">Chinese Yuang (CNY)</md-option>
              <md-option value="aed">UAE Dirham (AED)</md-option>
            </md-select>
          </md-input-container>

          <md-input-container class="sm-input-container">
            <label>Item Cost</label>
            <input type="text" ng-model="itemValue" ng-change="calculateRequestCost()">
          </md-input-container>
        </div>

        <div class="sm-dropzone sm-rq-fare-container" ng-if="newRequest.request_cost">
          <h6>The delivery fare for this item will be:</h6>
          <h2 class="sm-req-online-info-title">{{newRequest.item_cost_currency | uppercase}} {{newRequest.request_cost | number: 2}}</h2>
        </div>

        <md-input-container class="sm-input-container">
          <label>Enter tracking code</label>
          <input type="text" ng-model="newRequest.online_tracking_number">
        </md-input-container>

        <md-input-container class="sm-input-container">
          <place-autocomplete label="Where should we deliver your item?" ng-model="mapping.deliveryLocation"></place-autocomplete>
        </md-input-container>

        <md-input-container>
          <md-checkbox ng-model="newRequest.request_is_hazardous" ng-true-value="1" ng-false-value="0" aria-label="Is this a hazardous substance?">
            This is a hazardous substance.
          </md-checkbox>
        </md-input-container>

        <md-input-container>
          <md-checkbox ng-model="newRequest.request_needs_fast_tracking" ng-true-value="1" ng-false-value="0" aria-label="Is this a hazardous substance?">
            I need this shipment fast-tracked. Use Airfreight instead of Seafreight.
          </md-checkbox>
        </md-input-container>

        <h4 class="sm-custom-input-label">Have a picture of the item?</h4>
        <div class="sm-dropzone" ngf-select="uploadImage($file)" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB">
          <div ng-if="uploadingImage" layout="column" layout-align="center center" style="min-height: 100px;">
            <md-progress-circular md-mode="determinate" value="{{uploadProgress}}"></md-progress-circular>
            <p>Uploading Image: {{uploadProgress}}% complete</p>
          </div>
          <div ng-if="!uploadingImage" layout="column" layout-align="center center">
            <i class="material-icons md-24">backup</i>
            <p ng-if="!newRequest.request_image">Click here to select an image</p>
            <p ng-if="newRequest.request_image">Click here to change image</p>

            <div class="" ng-if="newRequest.request_image" style="max-width:700px">
              <img style="width: 400px; height: auto;" ng-src="{{newRequest.request_image}}" alt="Answer Image Preview">
            </div>
          </div>
        </div>

        <h4 class="sm-custom-input-label">Any additional instructions? (Please include a link to the item)</h4>
        <md-input-container class="md-block">
          <textarea ui-tinymce ng-model="newRequest.request_additional_description" aria-label="Any addional instructions?" md-select-on-focus rows="3"></textarea>
        </md-input-container>
      </div>

    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="closeDialog()" class="md-raised md-danger">
        Cancel
      </md-button>
      <md-button ng-click="addOnlineRequest()" class="md-raised md-accent">
        Submit Request
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
