<md-dialog aria-label="Add Consultant">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Print Request</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="closeDialog()">
          <i class="material-icons">close</i>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="sm-modal-content" layout="center center">

      <md-card class="printout-card 4by6" print-section>
        <md-card-content class="printout-card-content">
          <div class="printout-main-container" layout="row">
            <div class="printout-info-container" flex="65" layout="column">
              <div class="printout-request-info">
                <div class="printout-from-info">
                  <p class="printout-to">To:</p>
                  <h2 class="printout-customer-name">{{request.requester.full_name}}</h2>
                  <p class="printout-destination">{{request.delivery_location_name}}</p>
                </div>

                <div class="printout-to-info">
                  <p class="printout-from">From:</p>
                  <h4 class="printout-from-name">{{request.online_store || 'Pickup Location'}}</h4>
                  <p class="printout-warehouse-name">{{request.pickup_location_name}}</p>
                </div>
              </div>
              <div class="printout-company-info" layout="column">
                <div class="" flex="100">
                  <img src="../assets/images/logo_small.png" alt="Klloyds" height="25" width="auto">
                </div>
                <div class="" flex="100">
                  <p class="printout-company-contact">
                    <span><i class="material-icons">public</i></span>  www.klloyds.com
                    <span flex="20"><i class="material-icons space-out">mail_outline</i></span>  courier@klloyds.com
                  </p>
                  <div class="printout-company-contact">
                    <p><span><i class="material-icons">local_phone</i></span> United States: +1 703 349 4245</p>
                    <p><span><i class="material-icons">local_phone</i></span> United Kingdom: +44 207 701 0132</p>
                    <p><span><i class="material-icons">local_phone</i></span> United Arab Emirates: +971 588 929 859</p>
                    <p><span><i class="material-icons">local_phone</i></span> Ghana: +233 55 403 9876</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="printout-qr-container" flex="35" layout-align="center center">
              <h4>ABOUT THIS PACKAGE</h4>
              <p>Please treat with care. In case of complaints or loss, contact Klloyds Engineering Limited via the contact information provided at the bottom left. Scan the QR code below to get more information.</p>
              <p ng-if="request.request_is_hazardous"><b>Important!:</b> This item is hazardous. Treat with care.</p>
              <qrcode version="5" error-correction-level="M" size="155" data="https://new.klloyds.com" class="printout-qr-code-image"></qrcode>
            </div>
          </div>
        </md-card-content>
      </md-card>

    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="closeDialog()" class="md-raised md-danger">
        Cancel
      </md-button>
      <md-button ng-click="printQR()" class="md-raised md-warn">
        Print QR Code Only
      </md-button>
      <md-button print-btn class="md-raised md-accent">
        Print Full
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
