<md-dialog aria-label="add equipment request" ng-controller="EquipmentRequestsController">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{modalTitle || 'Search for your desired equipment'}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="closeDialog()">
          <i class="material-icons">close</i>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content class="sm-modal-content" style="width:700px;">
      <div ng-if="loadingRequiredEquimentRequestData || addingRequest" layout="row" layout-align="center center" style="min-height: 40vh;">
        <md-progress-circular md-mode="indeterminate" md-diameter="48"></md-progress-circular>
      </div>

      <div layout="row" ng-show="!loadingRequiredEquimentRequestData && !addingRequest">
        <wizard
        name="equipmentRequestWizard"
        on-finish="submitEquipmentRequest()"
        hide-indicators="true">
          <wz-step wz-title="choose_equipment">

            <div class="" layout="row">
              <div class="" flex="50">
                <md-input-container class="sm-input-container">
                  <label>Choose Category</label>
                  <md-select ng-model="equipmentFilterParams.equipment_category" ng-change="filterEquipment('category')">
                    <md-option value="oil_and_gas">Oil and Gas</md-option>
                    <md-option value="construction">Construction</md-option>
                    <md-option value="mining">Mining</md-option>
                    <md-option value="domestic">Domestic Equipment</md-option>
                    <md-option value="vehicle">Vehicles</md-option>
                    <md-option value="others">Others</md-option>
                  </md-select>
                </md-input-container>
              </div>
              <div class="" flex="50">
                <md-input-container class="sm-input-container">
                  <label>Search equipment</label>
                  <input type="text" ng-model="equipmentSearchTerm" ng-change="filterEquipment('search')">
                </md-input-container>
              </div>
            </div>

            <div class="sm-equipment-list">
              <div ng-if="filteringEquipment" layout="row" layout-align="center center" style="min-height: 40vh; min-width: 720px;">
                <md-progress-circular md-mode="indeterminate" md-diameter="48"></md-progress-circular>
              </div>
              <div class="" ng-if="!filteringEquipment">
                <div class="sm-eq-item-container" ng-repeat="equipment in equipment.data" ng-style="selectedEquipment == equipment && {'border':'3px solid #019AD6'}">
                  <div class="" layout="row">
                    <div class="rq-eqm-image-container" flex="40">
                      <div class="rq-eqm-price">
                        GHS {{equipment.equipment_price_per_day | number:2}} / Day
                      </div>
                      <img class="sm-equipment-img" ng-src="{{equipment.equipment_image}}">
                    </div>
                    <div class="rq-eqm-info" flex="60">
                      <h2 class="rq-eqm-title">{{equipment.equipment_name}}</h2>
                      <div class="" ng-bind-html="equipment.equipment_description | words: 30">
                      </div>
                      <div class="">
                        <span flex></span>
                        <div class="rq-eqm-info-btn-container">
                          <md-button class="md-raised" aria-label="select equipment" md-ripple-size="full" ng-click="toggleTermsNav(equipment, 'right')">See full description & terms</md-button>
                          <md-button class="md-raised" aria-label="select equipment" md-ripple-size="full" ng-click="selectEquipment(equipment)">Select</md-button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <section ng-if="equipment.data.length != '0' && equipment.total > equipmentFilterParams.limit" layout="row" layout-align="center end" layout-padding="">
                  <cl-paging flex cl-pages="equipment.last_page" , cl-steps="6" , cl-page-changed="loadMoreEquipment()" , cl-align="center center" , cl-current-page="equipmentFilterParams.page"></cl-paging>
                </section>
              </div>
            </div>
          </wz-step>
          <wz-step wz-title="confirm">
            <md-input-container class="sm-input-container">
              <label>Number of days rented for?</label>
              <input type="text" ng-model="data.numberOfDays" ng-change="calculateRequestCost()" required>
            </md-input-container>

            <md-input-container class="sm-input-container" style="margin: 0;">
              <md-autocomplete flex
                  md-input-name="customersAutocomplete"
                  md-input-minlength="2"
                  md-input-maxlength="18"
                  md-no-cache="$scope.noCache"
                  md-selected-item="data.selectedCustomer"
                  md-search-text="searchText"
                  md-items="customer in querySearch(searchText)"
                  md-item-text="customer.full_name"
                  md-floating-label="Enter customer name">
                <md-item-template>
                  <span md-highlight-text="searchText">{{customer.full_name}} ({{customer.phone_number}})</span>
                </md-item-template>
              </md-autocomplete>
            </md-input-container>

            <md-input-container class="sm-input-container">
              <place-autocomplete label="Equipment destination" ng-model="mapping.deliveryLocation"></place-autocomplete>
            </md-input-container>

            <h4 class="sm-custom-input-label">Any additional instructions?</h4>
            <md-input-container class="md-block ">
              <textarea ui-tinymce ng-model="newRequest.request_additional_description" aria-label="any additional instructions?" md-select-on-focus rows="3"></textarea>
            </md-input-container>
          </wz-step>
        </wizard>

        <md-sidenav class="md-sidenav-right md-whiteframe-4dp eqm-sidenav" md-component-id="right">
          <md-toolbar class="md-theme-light">
            <h1 class="md-toolbar-tools">{{equipmentDetails.equipment_name}}</h1>
          </md-toolbar>
          <md-content layout-padding>
            <h2>Description</h2>
            <div class="" ng-bind-html="equipmentDetails.equipment_description || 'No description available.'"></div>

            <h2>Terms & Conditions</h2>
            <div class="" ng-bind-html="equipmentDetails.terms_and_conditions || 'No terms and conditions for this equipment.'"></div>
          </md-content>
        </md-sidenav>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancelEquipmentRequest()" class="md-raised md-danger">
        Cancel
      </md-button>
      <md-button ng-disabled="equipmentWizardCurrentStep == 0" ng-click="equipmentRequestPrevStep()" class="md-raised">
        Prev Step
      </md-button>
      <md-button ng-show="equipmentWizardCurrentStep < 1" ng-click="equipmentRequestNextStep()" class="md-raised md-accent">
        Next Step
      </md-button>
      <md-button ng-show="equipmentWizardCurrentStep == 1" ng-click="equipmentRequestNextStep()" class="md-raised md-accent">
        Submit Request
      </md-button>

    </md-dialog-actions>
  </form>
</md-dialog>
