<md-dialog aria-label="Add Consultant">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 ng-show="!equipmentSelectionConfirmed">Search Equipment</h2>
        <h2 ng-show="equipmentSelectionConfirmed">Confirm Location and Request</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="closeDialog()">
          <i class="material-icons">close</i>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="sm-modal-content" style="width:900px;">
      <div ng-if="loadingRequiredEquimentRequestData || addingRequest" layout="row" layout-align="center center" style="min-height: 40vh;">
        <md-progress-circular md-mode="indeterminate" md-diameter="48"></md-progress-circular>
      </div>

      <div layout="row" ng-show="!loadingRequiredEquimentRequestData && !addingRequest">
        <div class="" ng-show="!equipmentSelectionConfirmed">
          <div class="" flex="20" style="position:fixed;">
            <md-input-container class="sm-input-container">
              <label>Choose Category</label>
              <md-select ng-model="equipmentFilterParams.equipment_category" ng-change="filterEquipment('category')">
                <md-option value="oil_and_gas">Oil and Gas</md-option>
                <md-option value="construction">Construction</md-option>
                <md-option value="mining">Mining</md-option>
                <md-option value="domestic">Domestic Equipment</md-option>
                <md-option value="vehicle">Vehicles</md-option>
                <md-option value="others">Others</md-option>
              </md-select>
            </md-input-container>

            <md-input-container class="sm-input-container">
              <label>Search equipment</label>
              <input type="text" ng-model="equipmentSearchTerm" ng-change="filterEquipment('search')">
            </md-input-container>
          </div>

          <div class="sm-equipment-list" flex="67" flex-offset="30">
            <div ng-if="filteringEquipment" layout="row" layout-align="center center" style="min-height: 40vh; min-width: 720px;">
              <md-progress-circular md-mode="indeterminate" md-diameter="48"></md-progress-circular>
            </div>
            <div class="" ng-if="!filteringEquipment" style="min-width: 650px;">
              <div class="sm-eq-item-container" ng-repeat="equipment in equipment.data" ng-style="selectedEquipment == equipment && {'border':'3px solid #019AD6'}">
                <h3>{{equipment.equipment_name}}</h3>
                <p>
                  GHS {{equipment.equipment_price_per_day | number:2}} / Day
                </p>
                <img class="sm-equipment-img" ng-src="{{equipment.equipment_image}}">
                <div class="">
                  <span flex></span>
                  <md-button class="md-raised" aria-label="select equipment" md-ripple-size="full" ng-click="selectedEquipment = equipment">Select</md-button>
                </div>
              </div>

              <section ng-if="equipment.data.length != '0' && equipment.total > equipmentFilterParams.limit" layout="row" layout-align="center end" layout-padding="">
                <cl-paging flex cl-pages="equipment.last_page" , cl-steps="6" , cl-page-changed="loadMoreEquipment()" , cl-align="center center" , cl-current-page="equipmentFilterParams.page"></cl-paging>
              </section>
            </div>
          </div>
        </div>

        <div class="" ng-show="equipmentSelectionConfirmed" style="width:100%;">
          <md-input-container class="sm-input-container sm-rq-rent-filters-input-container">
            <place-autocomplete label="Where will you use the equipment" ng-model="mapping.deliveryLocation"></place-autocomplete>
          </md-input-container>

          <md-input-container class="md-block sm-rq-rent-filters-input-container">
            <label>Any additional instructions?</label>
            <textarea ui-tinymce ng-model="newEquipmentRequest.request_additional_description" aria-label="any additional instructions?" md-select-on-focus rows="3"></textarea>
          </md-input-container>
        </div>

      </div>

    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="closeDialog()" class="md-raised md-warn">
        Cancel
      </md-button>
      <md-button ng-disabled="!equipmentSelectionConfirmed" ng-click="equipmentSelectionConfirmed = !equipmentSelectionConfirmed" class="md-raised">
        Go back
      </md-button>
      <md-button ng-show="!equipmentSelectionConfirmed" ng-click="equipmentSelectionConfirmed = !equipmentSelectionConfirmed" class="md-raised md-accent">
        Next
      </md-button>
      <md-button ng-show="equipmentSelectionConfirmed" ng-click="addRequest('vehicle_request')" class="md-raised md-accent">
        Submit Equipment Request
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
