<md-dialog aria-label="View Student">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <!-- <h2>{{selectedStudent.first_name}} {{selectedStudent.last_name}}</h2> -->
        <span flex></span>
        <md-button class="md-icon-button" ng-click="closeDialog()">
          <i class="material-icons">close</i>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content class="sm-modal-content" style="width:700px; padding:0px;">
      <div class="sm-consultant-header" layout="column" layout-align="center center">
        <div class="sm-consultant-dp" ng-if="selectedStudent.display_pictures_urls" background-img="{{splitDisplayPicUrl(selectedStudent.display_pictures_urls)}}"></div>
        <img class="sm-consultant-dp" ng-if="!selectedStudent.display_pictures_urls" gravatar-src="'selectedStudent.email'" gravatar-size="200"/>
        <h1 class="sm-consultant-name">{{selectedStudent.first_name}} {{selectedStudent.last_name}}</h1>
        <h4 class="sm-consultant-school">{{selectedStudent.school.school_name || 'No School'}}</h4>
        <h4 ng-if="selectedStudent.course" class="sm-consultant-school">{{selectedStudent.course.course_name}}</h4>
      </div>
      <div class="sm-consultant-info" layout="row">
        <div class="sm-consultant-info-column left">
          <p ng-if="selectedStudent.user_subtitle" class="sm-cs-info-contact"><i class="material-icons">account_circle</i>  {{selectedStudent.username}}</p>
          <p ng-if="selectedStudent.student_level == 'continuing-shs'" class="sm-consultant-school">Continuing SHS</p>
          <p ng-if="selectedStudent.student_level == 'pre-shs'" class="sm-consultant-school">Pre-SHS</p>
        </div>
        <div class="sm-consultant-info-column right">
          <p ng-if="selectedStudent.email" class="sm-cs-info-contact"><i class="material-icons">mail_outline</i>  {{selectedStudent.email}}</p>
          <p ng-if="selectedStudent.phone_number" class="sm-cs-info-contact"><i class="material-icons">phone_android</i>  {{selectedStudent.phone_number}}</p>
        </div>
      </div>

      <div class="" layout="row">
        <div class="sm-consultant-info-column left">
          <p class="sm-cs-info-contact" ng-if="student.account_status == 'true'">Account Status: Confirmed</p>
          <p class="sm-cs-info-contact" ng-if="student.account_status == 'false'">Account Status: Not Confirmed</p>
          <p ng-if="selectedStudent.user_block_status == 'blocked'" class="sm-cs-info-contact"><i class="material-icons">account_circle</i>User Status: Blocked</p>
          <p ng-if="selectedStudent.user_block_status == 'unblocked'" class="sm-cs-info-contact"><i class="material-icons">account_circle</i>User Status: Not Blocked</p>
        </div>
        <div class="sm-consultant-info-column right">
          <p ng-if="selectedStudent.created_at" class="sm-cs-info-contact"><i class="material-icons">schedule</i>Created: {{selectedStudent.created_at | date:"MMMM d, y 'at ' h:mma"}}</p>
          <p ng-if="selectedStudent.updated_at" class="sm-cs-info-contact"><i class="material-icons">schedule</i>Updated: {{selectedStudent.created_at | date:"MMMM d, y 'at ' h:mma"}}</p>
        </div>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="closeDialog()" class="md-raised md-primary">
        Close
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
