<md-dialog aria-label="add courier vehicle">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add New Courier Vehicle</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="closeDialog()">
          <i class="material-icons">close</i>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="sm-modal-content" style="width:700px;">
      <div ng-if="loadingRequiredData || addingVehicle" layout="row" layout-align="center center" style="min-height: 40vh;">
        <md-progress-circular md-mode="indeterminate" md-diameter="48"></md-progress-circular>
      </div>

      <div ng-show="!loadingRequiredData && !addingVehicle">

        <md-input-container class="sm-input-container">
          <label>Vehicle Name</label>
          <input type="text" ng-model="newVehicle.vehicle_name">
        </md-input-container>

        <md-input-container style="width:100%;">
          <label>Vehicle Service Category</label>
          <md-select ng-model="newVehicle.vehicle_category_id">
            <md-option ng-value="priceCategory.id" ng-repeat="priceCategory in priceCategories">{{priceCategory.category_name}}</md-option>
          </md-select>
        </md-input-container>

        <md-input-container class="sm-input-container">
          <label>Vehicle Registration Number</label>
          <input type="text" ng-model="newVehicle.vehicle_registration_number">
        </md-input-container>

        <h4 class="sm-custom-input-label">Vehicle Image</h4>
        <div class="sm-dropzone" ngf-select="uploadItem($file, 'vehicle_image', 'vehicle_image', 'image')" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB">
          <div ng-if="uploading_vehicle_image" layout="column" layout-align="center center" style="min-height: 100px;">
            <md-progress-circular md-mode="determinate" value="{{vehicle_image_progress}}"></md-progress-circular>
            <p>Uploading Image: {{vehicle_image_progress}}% complete</p>
          </div>
          <div ng-if="!uploading_vehicle_image" layout="column" layout-align="center center">
            <i class="material-icons md-24">backup</i>
            <p ng-if="!newVehicle.vehicle_image">Click here to select an image</p>
            <p ng-if="newVehicle.vehicle_image">Click here to change image</p>

            <div class="" ng-if="newVehicle.vehicle_image" style="max-width:700px">
              <img style="width: 400px; height: auto;" ng-src="{{newVehicle.vehicle_image}}" alt="Answer Image Preview">
            </div>
          </div>
        </div>

        <h4 class="sm-custom-input-label">Vehicle Description</h4>
        <md-input-container class="md-block">
          <textarea ui-tinymce ng-model="newVehicle.vehicle_description" aria-label="Consultant Profile" md-select-on-focus rows="3"></textarea>
        </md-input-container>

        <h4 class="sm-custom-input-label">Vehicle Insurance</h4>
        <div class="sm-dropzone" ngf-select="uploadItem($file, 'vehicle_insurance_docs', 'insurance', 'document')" name="file" ngf-max-size="20MB">
          <div ng-if="uploading_vehicle_insurance_docs" layout="column" layout-align="center center" style="min-height: 100px;">
            <md-progress-circular md-mode="determinate" value="{{vehicle_insurance_docs_progress}}"></md-progress-circular>
            <p>Uploading Insurance: {{vehicle_insurance_docs_progress}}% complete</p>
          </div>
          <div ng-if="!uploading_vehicle_insurance_docs" layout="column" layout-align="center center">
            <i class="material-icons md-24">backup</i>
            <p ng-if="!newVehicle.vehicle_insurance_docs">Click here to select an document (pdf or word document)</p>
            <p ng-if="newVehicle.vehicle_insurance_docs">Click here to change document (pdf or word document)</p>

            <div class="" ng-if="newVehicle.vehicle_insurance_docs" style="max-width:700px">
              <p>Vehicle insurance attached</p>
            </div>
          </div>
        </div>

        <h4 class="sm-custom-input-label">Vehicle Registration Documents</h4>
        <div class="sm-dropzone" ngf-select="uploadItem($file, 'vehicle_registration_docs', 'registration', 'document')" name="file" ngf-max-size="20MB">
          <div ng-if="uploading_vehicle_registration_docs" layout="column" layout-align="center center" style="min-height: 100px;">
            <md-progress-circular md-mode="determinate" value="{{vehicle_registration_docs_progress}}"></md-progress-circular>
            <p>Uploading Document: {{vehicle_registration_docs_progress}}% complete</p>
          </div>
          <div ng-if="!uploading_vehicle_registration_docs" layout="column" layout-align="center center">
            <i class="material-icons md-24">backup</i>
            <p ng-if="!newVehicle.vehicle_registration_docs">Click here to select document (pdf or word document)</p>
            <p ng-if="newVehicle.vehicle_registration_docs">Click here to change document (pdf or word document)</p>

            <div class="" ng-if="newVehicle.vehicle_registration_docs" style="max-width:700px">
              Registration documents are attached.
            </div>
          </div>
        </div>
      </div>

    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="closeDialog()" class="md-raised md-danger">
        Cancel
      </md-button>
      <md-button ng-click="addVehicle()" class="md-raised md-accent">
        Add Vehicle
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
