<md-dialog aria-label="view equipment">
  <form>
    <md-dialog-content class="sm-modal-content" style="width:1000px; padding:0px;">
      <div class="driver-info-section" layout="row">
        <div class="sm-driver-info-column left" flex="50">
          <div class="sm-equipment-header" layout="column" layout-align="center center">
            <h1 class="sm-driver-name">{{selectedVehicle.vehicle_name}}</h1>
          </div>

          <img ng-if="selectedVehicle.vehicle_image" class="sm-view-equipment-image" ng-src="{{selectedVehicle.vehicle_image}}" alt="vehicle image">

          <h3>Vehicle Description</h3>
          <div class="driver-profile-description" ng-bind-html="selectedVehicle.vehicle_description"></div>
          <p ng-if="!selectedVehicle.vehicle_description">No profile description available</p>
        </div>

        <div class="sm-driver-info-column right" flex="50">
          <h3>Documents</h3>
          <div class="" layout="row">
            <div ng-if="selectedVehicle.vehicle_insurance_docs" class="driver-document-icon" layout="column" layout-align="center center" ng-click="openEquipmentDoc(selectedVehicle.vehicle_insurance_docs)">
              <i class="material-icons">description</i>
              Insurance
            </div>

            <div ng-if="selectedVehicle.vehicle_registration_docs" class="driver-document-icon" layout="column" layout-align="center center" ng-click="openEquipmentDoc(selectedVehicle.vehicle_registration_docs)">
              <i class="material-icons">description</i>
              Registration
            </div>

            <p ng-if="!selectedVehicle.vehicle_insurance_docs && !selectedVehicle.vehicle_registration_docs">No documents attached</p>
          </div>
        </div>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="closeDialog()" class="md-raised md-danger">
        Close
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
