<md-dialog aria-label="add online purchase request">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Assign Vehicle to Driver</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="closeDialog()">
          <i class="material-icons">close</i>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="sm-modal-content" style="width:700px;">
      <div ng-if="loadingDrivers" layout="row" layout-align="center center" style="min-height: 40vh;">
        <md-progress-circular md-mode="indeterminate" md-diameter="30"></md-progress-circular>
      </div>

      <md-input-container class="sm-input-container" style="margin: 0;">
        <md-autocomplete flex required
            md-input-name="driversAutocomplete"
            md-input-minlength="3"
            md-input-maxlength="18"
            md-no-cache="$scope.noCache"
            md-selected-item="data.selectedDriver"
            md-search-text="searchText"
            md-items="driver in querySearch(searchText)"
            md-item-text="driver.full_name"
            md-require-match
            md-floating-label="Enter Driver Name to Search">
          <md-item-template>
            <span md-highlight-text="searchText">{{driver.full_name}}</span>
          </md-item-template>
        </md-autocomplete>
      </md-input-container>

    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="closeDialog()" class="md-raised md-danger">
        Cancel
      </md-button>
      <md-button ng-click="assignVehicle()" class="md-raised md-accent">
        Assign
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
