<md-dialog aria-label="Add Consultant">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add New Vehicle</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="closeDialog()">
          <i class="material-icons">close</i>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="sm-modal-content" style="width:700px;">
      <div ng-if="loadingRequiredData" layout="row" layout-align="center center" style="min-height: 40vh;">
        <md-progress-circular md-mode="indeterminate" md-diameter="48"></md-progress-circular>
      </div>

      <div ng-show="!loadingRequiredData">
        <md-input-container class="sm-input-container">
          <place-autocomplete label="Enter Pickup Location" ng-model="newOfflineRequest.pickup_location"></place-autocomplete>
        </md-input-container>

        <md-input-container class="sm-input-container">
          <place-autocomplete label="Enter Destination Location" ng-model="newOfflineRequest.pickup_destination"></place-autocomplete>
        </md-input-container>

        <md-input-container class="sm-input-container">
          <label>Give this request a name</label>
          <input type="text" ng-model="newOfflineRequest.request_name">
        </md-input-container>

        <h4 class="sm-custom-input-label">Have a picture of your package?</h4>
        <div class="sm-dropzone" ngf-select="uploadProfileImage($file)" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB">
          <div ng-if="uploadingImage" layout="column" layout-align="center center" style="min-height: 100px;">
            <md-progress-circular md-mode="determinate" value="{{uploadProgress}}"></md-progress-circular>
            <p>Uploading Image: {{uploadProgress}}% complete</p>
          </div>
          <div ng-if="!uploadingImage" layout="column" layout-align="center center">
            <i class="material-icons md-24">backup</i>
            <p ng-if="!newOfflineRequest.request_image">Click here to select an image</p>
            <p ng-if="newOfflineRequest.request_image">Click here to change image</p>

            <div class="" ng-if="newOfflineRequest.request_image" style="max-width:700px">
              <img style="width: 400px; height: auto;" ng-src="{{newOfflineRequest.request_image}}" alt="Answer Image Preview">
            </div>
          </div>
        </div>

        <md-input-container class="md-block">
          <label>Any additional instructions?</label>
          <textarea ui-tinymce ng-model="newOfflineRequest.request_instructions" aria-label="Consultant Profile" md-select-on-focus rows="5"></textarea>
        </md-input-container>
      </div>

    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="closeDialog()" class="md-raised md-warn">
        Cancel
      </md-button>
      <md-button ng-click="addConsultant()" class="md-raised md-accent">
        Add Vehicle
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
