<md-dialog aria-label="Add Consultant">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add Past WASSCE Question</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="closeDialog()">
          <i class="material-icons">close</i>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content class="sm-modal-content" style="min-width:700px;">
      <div ng-if="addingQuestion" layout="row" layout-align="center center" style="min-height: 40vh;">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
      </div>

      <div ng-if="!addingQuestion">
        <div layout="row">
          <md-input-container style="width:100%;">
            <label>Question Year (Required)</label>
            <input type="text" moment-picker="date" min-view="decade" max-view="decade" start-view="decade" format="YYYY" change="changeYear(oldValue, newValue)" ng-model="questionYear" autocomplete="off">
          </md-input-container>
        </div>

        <div layout="row">
          <md-input-container style="width:100%;">
            <label>Subject (Required)</label>
            <md-select ng-model="subjectToAdd" ng-model-options="{trackBy: '$value.id'}" ng-change="selectTopic(subjectToAdd)" ng-disabled="authenticatedUser.user_type != 'admin'">
              <md-option ng-value="subject" ng-repeat="subject in subjects">{{subject.subject_name}}</md-option>
            </md-select>
          </md-input-container>
        </div>

        <div layout="row" ng-show="subjectToAdd">
          <md-input-container style="width:100%;">
            <label>Topic (Required)</label>
            <md-select ng-model="newQuestion.topic_id">
              <md-option ng-value="topic.id" ng-repeat="topic in subjectToAdd.topics">{{topic.topic_name}}</md-option>
            </md-select>
          </md-input-container>
        </div>

        <h4>Question Text (Required)</h4>
        <md-input-container class="md-block">
          <textarea ui-tinymce="tinymceOptions" ng-model="newQuestion.question_in_text" aria-label="Question Text" md-select-on-focus></textarea>
        </md-input-container>

        <h4>Question Image</h4>
        <div class="sm-dropzone" ngf-select="uploadImage($file)" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" ng-disabled="uploadingImage">
          <div ng-if="uploadingImage" layout="column" layout-align="center center" style="min-height: 100px;">
            <md-progress-circular md-mode="determinate" value="{{uploadProgress}}"></md-progress-circular>
            <p>Uploading Image: {{uploadProgress}}% complete</p>
          </div>
          <div ng-if="!uploadingImage" layout="column" layout-align="center center">
            <i class="material-icons md-24">backup</i>
            <p ng-if="!newQuestion.question_image_url">Click here to select an image</p>
            <p ng-if="newQuestion.question_image_url">Click here to change image</p>

            <div class="" ng-if="newQuestion.question_image_url" style="max-width:700px">
              <img style="width: 400px; height: auto;" ng-src="{{newQuestion.question_image_url}}" alt="Answer Image Preview">
            </div>
          </div>
        </div>

        <h4>Answer Options (Required)</h4>
        <div class="">
          <md-card class="sm-card-answer-option">
            <md-card-content>
              <div layout="row" class="sm-answer-options-container" ng-repeat="answerOption in answerOptions">
                <md-input-container class="sm-answer-option-letter">
                  <label>Answer Letter</label>
                  <md-select ng-model="answerOption.answer_letter" aria-label="answer option letter">
                    <md-option ng-value="letter" ng-repeat="letter in optionLetters">{{letter}}</md-option>
                  </md-select>
                </md-input-container>

                <md-input-container class="sm-answer-option-text">
                  <label>Answer Text</label>
                  <input type="text" ng-model="answerOption.answer_text" autocomplete="off">
                </md-input-container>

                <md-button class="md-raised md-warn sm-btn-new-answer-option" aria-label="deleteGrading" md-no-ink="false" md-ripple-size="full" ng-click="deleteAnswerOption($index)"><i class="material-icons">delete_forever</i></md-button>
              </div>

              <h5>Add New Answer Option</h5>
              <div layout="row">
                <form name="newAnswerOptionForm" class="sm-signup-form" novalidate>

                  <md-input-container class="sm-answer-option-letter">
                    <label>Select Letter</label>
                    <md-select ng-model="newAnswerOption.answer_letter" ng-change="validateChosenLetter(newAnswerOption.answer_letter)"
                    aria-label="answer option letter">
                      <md-option ng-value="letter" ng-repeat="letter in optionLetters">{{letter}}</md-option>
                    </md-select>
                  </md-input-container>

                  <md-input-container class="sm-answer-option-text">
                    <label>Answer Text</label>
                    <input type="text" ng-model="newAnswerOption.answer_text" autocomplete="off">
                  </md-input-container>

                  <md-button ng-click="addAnswerOption()" class="md-raised md-accent sm-btn-new-answer-option" aria-label="add answer option"><i class="material-icons">add</i></md-button>
                </form>
              </div>

              <div layout="column" ng-if="answerOptions.length > 0">
                <h5>Choose Correct Answer (Required)</h5>
                <md-radio-group layout="row" ng-model="newQuestion.correct_answer">
                  <md-radio-button ng-value="answer.answer_letter" class="md-primary" ng-repeat="answer in answerOptions track by $index" aria-label="correct answer">{{answer.answer_letter}}</md-radio-button>
                </md-radio-group>
              </div>
            </md-card-content>
          </md-card>
        </div>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="closeDialog()" class="md-raised md-warn">
        Cancel
      </md-button>
      <md-button ng-click="addPastWassceQtn()" class="md-raised md-accent">
        Add Question
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
