/**
 *  Do not remove the comment below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.woff) format('woff'),
       url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

// Color definitions
$primary-color: #045478;
$accent-color: #5ba23e;
$warn-color: #f3751b;
$danger-color: #d13541;

// Other color shades
$bg-color-shade-1: #5ba23e;
$bg-color-shade-2: #f3751b;
$bg-color-shade-3: #045478;
$bg-color-shade-4: #d13541;
$bg-color-shade-5: #5ba23e;
$bg-color-shade-6: #f3751b;
$bg-color-shade-7: #045478;
$bg-color-shade-8: #d13541;

// Background color classes
.md-primary {
  background-color: $primary-color !important;
}
.md-accent {
  background-color: $accent-color !important;
}
.md-warn {
  background-color: $warn-color !important;
}
.md-danger {
  background-color: $danger-color !important;
  color: white !important;
}

// Text color classes
.text-white {
  color: white !important;
}
.text-primary {
  color: $primary-color !important;
}
.text-accent {
  color: $accent-color !important;
}
.text-warn {
  color: $warn-color !important;
}
.text-danger {
  color: $danger-color !important;
}

// Background color shades
.bg-color-shade-1 {
  background-color: $bg-color-shade-1 !important;
}
.bg-color-shade-2 {
  background-color: $bg-color-shade-2 !important;
}
.bg-color-shade-3 {
  background-color: $bg-color-shade-3 !important;
}
.bg-color-shade-4 {
  background-color: $bg-color-shade-4 !important;
}
.bg-color-shade-5 {
  background-color: $bg-color-shade-5 !important;
}
.bg-color-shade-6 {
  background-color: $bg-color-shade-6 !important;
}
.bg-color-shade-7 {
  background-color: $bg-color-shade-7 !important;
}
.bg-color-shade-8 {
  background-color: $bg-color-shade-8 !important;
}

body {
  font-family: 'Open Sans', sans-serif;
}

input,
button,
select,
textarea {
 font-family: inherit;
 font-size: inherit;
 line-height: inherit;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  // font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
i {
  vertical-align: middle;
}
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}
html {
  font-family: 'Roboto Slab', serif;
}
[layout=row] {
  flex-direction: row;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.sm-main-view {
  background-color: white;
}
.view-main-container {
  padding: 20px;
  overflow-y: scroll;
  height: calc(95vh - 64px);
  background-size: inherit !important;
  background-image: url('../assets/patterns/brickwall.png');
}
.view-main-title {
  font-size: 35px !important;
  color: $primary-color;
  margin-left: -12px !important;
  margin-top: 5px !important;
  margin-bottom: 20px;
}
md-toolbar.md-default-theme {
  background-color: black;
}
md-toolbar.md-default-theme:not(.md-menu-toolbar) md-icon, md-toolbar:not(.md-menu-toolbar) md-icon {
  fill: $primary-color;
}
md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar){
  background-color: white;
  border-bottom: 1px solid #d6d6d6;
  color: $primary-color;
  padding: 0px 20px;
}
md-progress-circular svg path {
  stroke: $primary-color;
}
md-progress-linear .md-bar {
  background-color: $primary-color;
}
md-progress-linear .md-container .md-bar {
  height: 3px !important;
}
md-progress-linear .md-container {
  height: 3px !important;
}
md-checkbox.md-checked.primary .md-icon {
 background-color: $primary-color;
}
.sm-main-container{
  padding: 20px;
  overflow-y: scroll;
}
.sm-custom-input-label {
  color: rgba(0,0,0,0.38);
  font-weight: 500;
}
.techs {
  display: flex;
  flex-flow: row wrap;

  md-card {
    width: 30%;

    img.pull-right {
      float: right;
      width: 100px;
    }
  }
}
.table-container{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  overflow-y: scroll;
}
.md-button{
  text-transform: none;
  padding: 0px 15px;
  min-width: 10px;
  padding: 0px 12px;
}
.sm-modal-content{
  padding: 50px;
}
.sm-input-container{
  width: 100%;
}
.wordwrap {
   white-space: pre-wrap;      /* Webkit */
   white-space: -moz-pre-wrap; /* Firefox */
   white-space: -pre-wrap;     /* Opera <7 */
   white-space: -o-pre-wrap;   /* Opera 7 */
   word-wrap: break-word;      /* IE */
}
.sm-dropzone {
  background-color: rgba(224, 224, 224, 0.64);
  width: 100%;
  min-height: 100px;
  margin-bottom: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
  color: #929292;
  border: solid 1px rgba(146, 146, 146, 0.23);
  cursor: pointer;

  i {
    font-size: 30px;
  }
}
.sm-logout-link {
  color: #e7e7e7;
  text-decoration: none;
  margin-bottom: 20px;
}
md-toast.md-success-toast-theme {
  .md-toast-content {
    background-color: $accent-color;
  }
}
md-toast.md-error-toast-theme {
  .md-toast-content {
    background-color: $danger-color;
  }
}
md-toast.md-info-toast-theme {
  .md-toast-content {
    background-color: $primary-color;
  }
}
.top-progress-bar {
  position: fixed;
  top: 62px;
  z-index: 10002;
  height: 4px;
  width: 100%;

  @media only screen and (max-width: 768px) {
    top: 43px;
  }
  @media only screen and (min-width : 769px) and (max-width : 960px) {
    top: 48px;
  }
  @media only screen and (min-width : 320px) and (max-width : 480px) {
    top: 50px;
  }
}
.offline-ui.offline-ui-down {
  height: 50px !important;
}
.offline-ui.offline-ui-up {
  height: 50px !important;
}
.intl-tel-input {
  width: 100%;
}
.intl-tel-input .selected-flag {
  height: 55%;
}
.iti-flag {
  background-image: url("https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/11.0.14/img/flags.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .iti-flag {
    background-image: url("https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/11.0.14/img/flags@2x.png");
  }
}
.sm-map-container {

}
.angular-google-map-container {
  height: 400px;
}

.toolbar-search-icon {
  font-size: 30px;
  margin-right: 5px;
  cursor: pointer;
  font-weight: bold;
  outline: none;
}
.toolbar-search-icon:hover {
  color: $accent-color;
}

@mixin translate3d($x, $y, $z) {
  -webkit-transform: translate3d($x, $y, $z);
     -moz-transform: translate3d($x, $y, $z);
       -o-transform: translate3d($x, $y, $z);
          transform: translate3d($x, $y, $z);
}

.search-bar {
  background-color: $warn-color;
  color: white;
  height: 63px;
  position: absolute;
  z-index: 20;
  width: 100%;
  padding: 0 27px;
  outline: none;

  @include translate3d(0,0,0);
}
.search-input input {
  color: white;
}
.search-close-icon {
  font-size: 30px;
  margin-top: 20px;
  cursor: pointer;
  outline: none;
}
.search-close-icon:hover {
  color: $primary-color;
}

.animate-slide.ng-hide-remove.ng-hide-remove-active {
  -webkit-animation:0.2s slide-down;
  animation:0.2s slide-down;
}
.animate-slide.ng-hide-add.ng-hide-add-active {
  -webkit-animation:0.2s slide-up;
  animation:0.2s slide-up;
}
.animate-slide.ng-hide {
  top:0%;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes slide-up {
  0%   {top:-0px;}
  25%  {top:-13px;}
  50%  {top:-33px;}
  75%  {top:-43px;}
  100%  {top:-63px;}
}
/* Standard syntax */
@keyframes slide-up {
  0%   {top:-0px;}
  25%  {top:-13px;}
  50%  {top:-33px;}
  75%  {top:-43px;}
  100%  {top:-63px;}
}
/* Chrome, Safari, Opera */
@-webkit-keyframes slide-down {
  0%  {top:-63px;}
  25%  {top:-43px;}
  50%  {top:-33px;}
  75%  {top:-13px;}
  100%   {top:0;}
}
/* Standard syntax */
@keyframes slide-down {
  0%  {top:-63px;}
  25%  {top:-43px;}
  50%  {top:-33px;}
  75%  {top:-13px;}
  100%   {top:0;}
}

// Card Flipping css
flippy {
  float: left;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  -ms-perspective: 600px;
  perspective: 600px;
}
flippy-front {
  position: absolute;
  z-index: 900;
  width: inherit;
  height: inherit;
  -webkit-transform: rotate3d(0, 0, 0, 0deg);
  -moz-transform: rotate3d(0, 0, 0, 0deg);
  -ms-transform: rotate3d(0, 0, 0, 0deg);
  transform: rotate3d(0, 0, 0, 0deg);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
flippy-back {
  position: absolute;
  z-index: 800;
  width: inherit;
  height: inherit;
  -webkit-transform: rotate3d(0, 1, 0, -180deg);
  -moz-transform: rotate3d(0, 1, 0, -180deg);
  -ms-transform: rotate3d(0, 1, 0, -180deg);
  transform: rotate3d(0, 1, 0, -180deg);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
flippy.flipped flippy-front {
  z-index: 900;
  -webkit-transform: rotate3d(0, 1, 0, 180deg);
  -moz-transform: rotate3d(0, 1, 0, 180deg);
  -ms-transform: rotate3d(0, 1, 0, 180deg);
  transform: rotate3d(0, 1, 0, 180deg);
}
flippy.flipped flippy-back {
  z-index: 1000;
  -webkit-transform: rotate3d(0, 0, 0, 0deg);
  -moz-transform: rotate3d(0, 0, 0, 0deg);
  -ms-transform: rotate3d(0, 0, 0, 0deg);
  transform: rotate3d(0, 0, 0, 0deg);
}

flippy.fancy {
  float: left;
  margin: 0 10px 10px 0;
  position: relative;
  font-size: .8em;
  cursor: pointer;
  width: 250px;
  height: 250px;
}
flippy.fancy flippy-front {
  float: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 900;
  width: inherit;
  height: inherit;
  background: white;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
}
flippy.fancy flippy-front.flipped {
  border-color: #eee;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
}
flippy.fancy flippy-back {
  float: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 800;
  width: inherit;
  height: inherit;
  background: white;
  text-align: center;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
}
flippy.fancy flippy-back.flipped {
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
}

// Card Flipping CSS

/**
 *  Do not remove the comment below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector

// endinjector
