<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Menu Button" hide-gt-md ng-click="onClickMenu();">
      <md-icon
        md-svg-icon="assets/icons/menu.svg" aria-label="Menu Icon">
      </md-icon>
    </md-button>

    <span flex></span>

    <md-button ng-if="authenticatedUser.admin_type == 'super'" aria-label="Open phone interactions menu" class="md-raised md-warn" ng-csv="exportToCSV()" lazy-load="true" csv-label="true" filename="klloyds_all_invoices.csv">
      <i class="material-icons">cloud_download</i>
      <md-tooltip md-direction="bottom">
        Export invoices to excel
      </md-tooltip>
    </md-button>

  </div>
</md-toolbar>

<div ng-if="processInProgress" class="top-progress-bar" layout="row">
  <md-progress-linear md-mode="indeterminate"></md-progress-linear>
</div>

<div class="view-main-container">

  <md-card>
    <h3 class="view-main-title requests">Invoices</h3>
    <md-card-content>
      <md-table-container>
        <table md-table md-progress="requestsPromise">
          <thead md-head md-order="query.order" md-on-reorder="getrequests">
            <tr md-row>
              <th md-column><span>INVOICE NO.</span></th>
              <th md-column>BUSINESS</th>
              <th md-column>AMOUNT</th>
              <th md-column><span>INOVICE DATE</span></th>
              <th md-column>STATUS</th>
              <th md-column></th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row md-select="dessert" md-select-id="name" md-auto-select ng-repeat="invoice in invoices.data">
              <td md-cell>{{invoice.id}}</td>
              <td md-cell>{{invoice.invoice_receiver.business_name}}</td>
              <td md-cell>{{invoice.total_invoice_amount | currency : 'GHS '}}</td>
              <td md-cell>{{invoice.created_at}}</td>
              <td md-cell>
                <span ng-if="invoice.invoice_paid">PAID</span>
                <span ng-if="!invoice.invoice_paid">NOT PAID</span>
              </td>
              <td md-cell ng-if="authenticatedUser.admin_type != 'staff'">
                <md-button class="md-raised md-primary" href="#invoices/{{invoice.id}}" aria-label="description" md-ripple-size="full">
                  <i class="material-icons">remove_red_eye</i>
                </md-button>
                <button class="md-button md-raised md-accent" ng-click="markInvoiceAsPaid($event, invoice)">
                  <md-tooltip md-direction="top">
                    Mark As Paid
                  </md-tooltip>
                  <i class="material-icons">check</i>
                </button>
                <!-- <button class="md-button md-raised md-danger" ng-click="deleteInvoice($event, invoice)">
                  <md-tooltip md-direction="top">
                    Delete Invoice
                  </md-tooltip>
                  <i class="material-icons">delete_forever</i>
                </button> -->
              </td>
            </tr>
          </tbody>
        </table>
      </md-table-container>

      <md-table-pagination md-limit="filterParams.limit" md-limit-options="tableOptions.limitOptions" md-page-select="tableOptions.pageSelect" md-boundary-links="tableOptions.boundaryLinks" md-page="filterParams.page" md-total="{{$parent.invoices.total}}" md-on-paginate="paginate" md-page-select></md-table-pagination>

    </md-card-content>
  </md-card>
</div>
