<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Menu Button" hide-gt-md ng-click="onClickMenu();">
      <md-icon
        md-svg-icon="assets/icons/menu.svg" aria-label="Menu Icon">
      </md-icon>
    </md-button>

    <span flex></span>

    <md-button aria-label="Open phone interactions menu" class="md-raised md-accent" ng-click="printInvoice($event)">
      Print Invoice
    </md-button>
  </div>
</md-toolbar>

<div class="view-main-container">

  <div class="a4-page" size="A4" print-section>
    <div class="invoice-page">
      <div class="invoice-logo-container">
        <h1>KLLOYDS</h1>
      </div>

      <md-card class="invoice-card invoice-title-container">
        <h1 class="invoice-main-title">Invoice</h1>
      </md-card>

      <md-card layout="column" class="invoice-card invoice-contact-info-container">
        <md-card-content>
          <div class="">
            <h3 class="invoice-to">TO:</h3>
            <h2 class="invoice-company-name">STANBIC BANK GHANA</h2>
          </div>
          <div class="invoice-contact-wrapper" layout="row">
            <div class="invoice-contact-info left" flex="33">
              <p><span><i class="material-icons">location_on</i></span>  19 Banana Street</p>
              <p><span><i class="material-icons">location_on</i></span>  Ambassadorial Enclave, East Legon</p>
            </div>
            <div class="invoice-contact-info middle" flex="33">
              <p><span><i class="material-icons">local_phone</i></span>  +233 20 796 8538</p>
              <p><span><i class="material-icons">email</i></span>  nabong04@gmail.com</p>
            </div>
            <div class="invoice-contact-info right" flex="33">
              <p><span><i class="material-icons">receipt</i></span>  <span>Invoice #:</span> 3427273</p>
              <p><span><i class="material-icons">insert_invitation</i></span>  <span>Due Date:</span> 31st May, 2017</p>
            </div>
          </div>
        </md-card-content>
      </md-card>

      <div class="invoice-details" layout="row">
        <md-card class="invoice-card invoice-items-container" flex="60">
          <md-card-content>
            <h3 class="invoice-content-title">Item Description</h3>
            <div class="invoice-item-div" layout="row">
              <div class="invoice-item-number">
                <h4>01</h4>
              </div>
              <div class="invoice-item-description">
                <h4>James Nabong</h4>
                <p>Accra Mall, Accra, Ghana - West Hills Mall, Accra, Ghana.</p>
                <p class="invoice-item-date">24th September, 2017</p>
              </div>
            </div>

            <div class="invoice-item-div" layout="row">
              <div class="invoice-item-number">
                <h4>02</h4>
              </div>
              <div class="invoice-item-description">
                <h4>Nana Kwame Gyamfi</h4>
                <p>Accra Mall, Accra, Ghana - West Hills Mall, Accra, Ghana.</p>
                <p class="invoice-item-date">24th September, 2017</p>
              </div>
            </div>

            <div class="invoice-item-div" layout="row">
              <div class="invoice-item-number">
                <h4>03</h4>
              </div>
              <div class="invoice-item-description">
                <h4>Alhassan Kadri</h4>
                <p>Accra Mall, Accra, Ghana - West Hills Mall, Accra, Ghana.</p>
                <p class="invoice-item-date">24th September, 2017</p>
              </div>
            </div>
          </md-card-content>
        </md-card>

        <md-card class="invoice-card invoice-pricing-container" layout="row" flex="40">
          <div class="invoice-price-container" flex="50">
            <h3 class="invoice-content-title">Price</h3>
            <div class="invoice-price-content">
              <p>GHS 2,132.00</p>
            </div>
            <div class="invoice-price-content">
              <p>GHS 2,132.00</p>
            </div>
            <div class="invoice-price-content">
              <p>GHS 2,132.00</p>
            </div>
          </div>
          <div class="invoice-total-container" flex="50">
            <h3 class="invoice-content-title">Total</h3>
            <div class="invoice-price-content">
              <p>GHS 2,132.00</p>
            </div>
            <div class="invoice-price-content">
              <p>GHS 2,132.00</p>
            </div>
            <div class="invoice-price-content">
              <p>GHS 2,132.00</p>
            </div>
          </div>
        </md-card>
      </div>

      <div class="invoice-sub-details" layout="row">
        <md-card class="invoice-card invoice-sub-info-container" flex="60">
          <md-card-content layout="row">
            <div class="" flex="30">
              <h3 class="invoice-content-title">Scan To Pay</h3>
              <qrcode version="2" error-correction-level="M" size="80" data="http://klloyds.com" class="lr-qr-code-image"></qrcode>
            </div>
            <div class="payment-options-wrapper" flex="70">
              <h3 class="invoice-content-title">We Accept</h3>
              <div class="" layout="row">
                <div class="invoicement-payment-option" layout="column" flex="30">
                  <img class="invoice-payment-img" src="../assets/icons/cash.png" alt="" width="32">
                  Cash
                </div>
                <div class="invoicement-payment-option" layout="column" flex="30">
                  <img class="invoice-payment-img" src="../assets/icons/mobile-money.png" alt="" width="32">
                  Mobile Money
                </div>
                <div class="invoicement-payment-option" layout="column" flex="30">
                  <img class="invoice-payment-img" src="../assets/icons/visa.png" alt="" width="32">
                  Visa
                </div>
              </div>
            </div>

          </md-card-content>
        </md-card>

        <md-card class="invoice-card invoice-grand-total-container" flex="40">
          <md-card-content class="invoice-total-inner">
            <div class="invoice-inner-line" layout="row">
              <div class="invoice-inner-item" flex="50">
                SUB TOTAL:
              </div>
              <div class="invoice-inner-value" flex="50">
                GHS 3,342.00
              </div>
            </div>
            <div class="invoice-inner-line" layout="row">
              <div class="invoice-inner-item" flex="50">
                TAX: VAT 15%
              </div>
              <div class="invoice-inner-value" flex="50">
                GHS 742.00
              </div>
            </div>
            <div class="invoice-inner-line" layout="row">
              <div class="invoice-inner-item" flex="50">
                DISCOUNT: 5%
              </div>
              <div class="invoice-inner-value" flex="50">
                GHS 342.00
              </div>
            </div>
            <div class="invoice-inner-line total" layout="row">
              <div class="invoice-inner-item" flex="50">
                GRAND TOTAL:
              </div>
              <div class="invoice-inner-value" flex="50">
                GHS 13,342.00
              </div>
            </div>
          </md-card-content>
        </md-card>
      </div>

      <md-card class="invoice-card invoice-terms">
        <md-card-content>
          <h3 class="invoice-content-title">Payment Terms</h3>
          <ol>
            <li>30 Days Interest payable at 8% per month on overdue amounts. All goods remain the property of Klloyds Eng. GH until paid in full. All goods are sold with manufacturer’s warranty. Please note that KLLOYDS do not provide any warranties ourselves in respect of the goods.</li>
            <li>By approval of this order you accept our full terms of sale available on our website, <a href="http://klloyds.com">www.klloyds.com</a>. Please PAY strictly to Designated bank on KLLOYDS vendor registration documents.</li>
          </ol>
        </md-card-content>
      </md-card>

      <div class="invoice-bottom-contact-info">
        <div class="invoice-contact-wrapper" layout="row">
          <div class="invoice-contact-info left" flex="33">
            <p><span><i class="material-icons">location_on</i></span>  19 Banana Street</p>
            <p><span><i class="material-icons">location_on</i></span>  Ambassadorial Enclave, East Legon</p>
          </div>
          <div class="invoice-contact-info middle" flex="33">
            <p><span><i class="material-icons">local_phone</i></span>  +233 20 796 8538</p>
            <p><span><i class="material-icons">local_phone</i></span>  +233 20 796 8538</p>
          </div>
          <div class="invoice-contact-info right" flex="33">
            <p><span><i class="material-icons">email</i></span>  info@klloyds.com</p>
            <p><span><i class="material-icons">public</i></span>  www.klloyds.com</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
