<md-table-container>
  <table md-table md-progress="$parent.assignedRequestsPromise">
    <thead md-head md-order="query.order" md-on-reorder="getrequests">
      <tr md-row>
        <th md-column><span>TIME REQUESTED</span></th>
        <th md-column><span>CUSTOMER NAME</span></th>
        <th md-column>PICKUP FROM</th>
        <th md-column>DELIVER TO</th>
        <th md-column>ASSIGNED TO</th>
        <th md-column></th>
      </tr>
    </thead>
    <tbody md-body>
      <tr md-row md-select="dessert" md-select-id="name" md-auto-select ng-repeat="request in $parent.assignedRequests.data">
        <td md-cell>{{request.created_at | date:'medium'}}</td>
        <td md-cell>{{request.requester.first_name}} {{request.requester.last_name}}</td>
        <td md-cell>
          {{request.pickup_location_name | characters:30}}
          <md-tooltip md-direction="bottom">
            {{request.pickup_location_name}}
          </md-tooltip>
        </td>
        <td md-cell>
          {{request.delivery_location_name | characters:30}}
          <md-tooltip md-direction="bottom">
            {{request.pickup_location_name}}
          </md-tooltip>
        </td>
        <td md-cell>{{request.request_deliverer[0].first_name}} {{request.request_deliverer[0].last_name}}</td>
        <td md-cell>
          <md-button class="md-raised md-primary" href="#requests/{{request.id}}" aria-label="description" md-ripple-size="full">
            <i class="material-icons">remove_red_eye</i>
          </md-button>
          <md-button class="md-raised md-warn" aria-label="description" md-ripple-size="full" ng-click="cancelRequest(request)">
            <i class="material-icons">cancel</i>
          </md-button>
        </td>
      </tr>
    </tbody>
  </table>
</md-table-container>

<md-table-pagination md-limit="filterParams.limit" md-limit-options="[50, 100, 200]" md-page="filterParams.page" md-total="{{$parent.pendingRequests.total}}" md-on-paginate="" md-page-select></md-table-pagination>
