<div class="view-main-container">
  <div ng-if="!dataLoaded" layout="row" layout-align="center center" style="min-height: 80vh;">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div>

  <div class="" ng-if="dataLoaded">
    <div class="">
      <h1 class="dasboard-welcome-text">Hello, {{authenticatedUser.first_name}}!</h1>
      <h4 class="dasboard-welcome-subtext">Here's a snapshot of Somame today!</h4>
    </div>

    <div layout="row">
      <md-card flex="25" class="dashboard-statistic-container" ng-click="gotoMetricPage('requests_pending')">
        <md-card-content>
          <img src="../assets/icons/delivery-truck.png" alt="" class="dashboard-stat-icon">
          <h2 class="dashboard-stat-number">{{statistics.pending_request}}</h2>
          <p class="dashboard-stat-name">Pending Requets</p>
        </md-card-content>
      </md-card>

      <md-card flex="25" class="dashboard-statistic-container" ng-click="gotoMetricPage('requests_inprogress')">
        <md-card-content>
          <img src="../assets/icons/car-driver.png" alt="" class="dashboard-stat-icon">
          <h2 class="dashboard-stat-number">{{statistics.request_in_delivery}}</h2>
          <p class="dashboard-stat-name">In Progress</p>
        </md-card-content>
      </md-card>

      <md-card flex="25" class="dashboard-statistic-container" ng-click="gotoMetricPage('drivers')">
        <md-card-content>
          <img src="../assets/icons/car-driver.png" alt="" class="dashboard-stat-icon">
          <h2 class="dashboard-stat-number">{{statistics.number_of_valid_drivers}}</h2>
          <p class="dashboard-stat-name">Drivers</p>
        </md-card-content>
      </md-card>

      <md-card flex="25" class="dashboard-statistic-container" ng-click="gotoMetricPage('vehicles')">
        <md-card-content>
          <img src="../assets/icons/car.png" alt="" class="dashboard-stat-icon">
          <h2 class="dashboard-stat-number">{{statistics.number_of_vehicles}}</h2>
          <p class="dashboard-stat-name">Registered Vehicles</p>
        </md-card-content>
      </md-card>
    </div>

    <div layout="row">
      <md-card flex class="dashboard-graphs-card">
        <md-card-content>
          <h2 class="dashboard-stat-name">Incoming Request History</h2>
          <canvas id="line" class="chart chart-line" chart-data="data"
            chart-labels="labels" chart-series="series" chart-options="options"
            chart-dataset-override="datasetOverride" chart-click="onClick">
          </canvas>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>
