.dashboard-statistic-container {
  text-align: center;
}
.dashboard-graphs-card {
  min-height: 430px;
}
.dasboard-welcome-text {
  font-size: 60px;
  color: #019ad6;
  margin: 10px 10px 0px 5px;
}
.dasboard-welcome-subtext {
  font-size: 25px;
  color: #019ad6;
  margin: 0px 10px 30px 5px;
}
.dashboard-stat-icon {
  height: 60px;
  margin-top: 25px;
}
.dashboard-stat-number {
  font-size: 60px;
  margin: 20px;
}
.dashboard-stat-name {
  font-size: 20px;
  color: #ff5d55;
  font-weight: 600;
  margin-bottom: 25px !important;
}
.md-open-menu-container.md-active {
  height: 160px;
}
