.dashboard-statistic-container {
  text-align: center;
  border: 3px solid #fff;
  cursor: pointer;
  margin-right: 20px;
  width: 25%;
  margin-bottom: 20px;
}
.dashboard-statistic-container:last-child{
  margin-right: 8px;
}
.dashboard-statistic-container:hover {
  border: 3px solid #019AD6;
}
.dashboard-statistic-container.pending {
  color: #4CAF50;
}
.dashboard-statistic-container.in-progress {
  color: #019ad6;
}
.dashboard-statistic-container.drivers {
  color: #E53935;
}
.dashboard-statistic-container.vehicles {
  color: #FB8C00;
}
.dashboard-statistic-container.equipment {
  color: #651FFF;
}
.dashboard-statistic-container.customers {
  color: #002a4d;
}
.dashboard-statistic-container.this-month {
  color: #9c27b0;
}
.dashboard-statistic-container.all-time {
  color: #3f51b5;
}
.dashboard-statistic-container i {
  font-size: 45px;
}
.dashboard-graphs-card {
  min-height: 430px;
}
.dasboard-welcome-text {
  font-size: 60px;
  color: #019ad6;
  margin: 10px 10px 0px 5px;
}
.dasboard-welcome-subtext {
  font-size: 25px;
  color: #019ad6;
  margin: 0px 10px 30px 5px;
}
.dashboard-stat-icon {
  height: 60px;
  margin-top: 25px;
}
.dashboard-stat-number {
  font-size: 25px;
  margin: 20px;
  margin-top: 0px;
}
.dashboard-stat-name {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 25px !important;
}
.md-open-menu-container.md-active {
  height: auto;
}
