<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Menu Button" hide-gt-md ng-click="onClickMenu();">
      <md-icon
        md-svg-icon="assets/icons/menu.svg" aria-label="Menu Icon">
      </md-icon>
    </md-button>

    <h3 class="view-main-title">Dashboard</h3>

    <span flex></span>

  </div>
</md-toolbar>

<div class="view-main-container">
  <div ng-if="!dataLoaded" layout="row" layout-align="center center" style="min-height: 80vh;">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div>

  <div class="" ng-if="dataLoaded">
    <!-- <div class="">
      <h1 class="dasboard-welcome-text">Hello, {{authenticatedUser.first_name}}!</h1>
      <h4 class="dasboard-welcome-subtext">Here's a snapshot of Somame today!</h4>
    </div> -->

    <div layout="row">
      <md-card flex="20" class="dashboard-statistic-container pending" ng-click="gotoMetricPage('requests_pending')">
        <md-card-content>
          <h2 class="dashboard-stat-number">{{statistics.pending_request}}</h2>
          <p class="dashboard-stat-name">Pending Requets</p>
          <i class="material-icons">vertical_align_bottom</i>
        </md-card-content>
      </md-card>

      <md-card flex="20" class="dashboard-statistic-container in-progress" ng-click="gotoMetricPage('requests_inprogress')">
        <md-card-content>
          <h2 class="dashboard-stat-number">{{statistics.request_in_delivery}}</h2>
          <p class="dashboard-stat-name">In Progress</p>
          <i class="material-icons">flight_takeoff</i>
        </md-card-content>
      </md-card>

      <md-card flex="20" class="dashboard-statistic-container drivers" ng-click="gotoMetricPage('drivers')">
        <md-card-content>
          <h2 class="dashboard-stat-number">{{statistics.number_of_valid_drivers}}</h2>
          <p class="dashboard-stat-name">Drivers</p>
          <i class="material-icons">group</i>
        </md-card-content>
      </md-card>

      <md-card flex="20" class="dashboard-statistic-container vehicles" ng-click="gotoMetricPage('vehicles')">
        <md-card-content>
          <h2 class="dashboard-stat-number">{{statistics.number_of_vehicles}}</h2>
          <p class="dashboard-stat-name">Rgtd Vehicles</p>
          <i class="material-icons">drive_eta</i>
        </md-card-content>
      </md-card>

      <md-card flex="20" class="dashboard-statistic-container equipment" ng-click="gotoMetricPage('vehicles')">
        <md-card-content>
          <h2 class="dashboard-stat-number">{{statistics.number_of_vehicles}}</h2>
          <p class="dashboard-stat-name">Rgtd Equipment</p>
          <i class="material-icons">local_shipping</i>
        </md-card-content>
      </md-card>
    </div>

    <div layout="row">
      <md-card flex class="dashboard-graphs-card">
        <md-card-content>
          <h2 class="dashboard-stat-name">Incoming Request History</h2>
          <canvas id="line" class="chart chart-line" chart-data="data"
            chart-labels="labels" chart-series="series" chart-options="options"
            chart-dataset-override="datasetOverride" chart-click="onClick">
          </canvas>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>
