<div class="view-main-container" style="height:100vh;">
  <div ng-if="!dataLoaded" layout="row" layout-align="center center" style="min-height: 80vh;">
    <md-progress-circular md-mode="indeterminate" md-diameter="30"></md-progress-circular>
  </div>

  <div class="" ng-if="dataLoaded">
    <div layout="row">
      <md-card class="dashboard-statistic-container pending" ng-click="gotoMetricPage('app.requests')">
        <md-card-content class="dashboard-card-content" layout="row">
          <div class="dashboard-icon-container" flex="20">
            <span class="lnr lnr-clock"></span>
          </div>
          <div class="dashboard-stat-info" flex="80">
            <h2 class="dashboard-stat-number">{{statistics.pending_request}}</h2>
            <p class="dashboard-stat-name">Pending Requests</p>
          </div>
        </md-card-content>
      </md-card>

      <md-card class="dashboard-statistic-container in-progress" ng-click="gotoMetricPage('app.requests')">
        <md-card-content class="dashboard-card-content" layout="row">
          <div class="dashboard-icon-container" flex="20">
            <span class="lnr lnr-hourglass"></span>
          </div>
          <div class="dashboard-stat-info" flex="80">
            <h2 class="dashboard-stat-number">{{statistics.request_in_delivery}}</h2>
            <p class="dashboard-stat-name">In Progress</p>
          </div>
        </md-card-content>
      </md-card>

      <md-card class="dashboard-statistic-container drivers" ng-click="gotoMetricPage('app.drivers')">
        <md-card-content class="dashboard-card-content" layout="row">
          <div class="dashboard-icon-container" flex="20">
            <span class="lnr lnr-users"></span>
          </div>
          <div class="dashboard-stat-info" flex="80">
            <h2 class="dashboard-stat-number">{{statistics.number_of_valid_drivers}}</h2>
            <p class="dashboard-stat-name">Drivers</p>
          </div>
        </md-card-content>
      </md-card>

      <md-card class="dashboard-statistic-container vehicles" ng-click="gotoMetricPage('app.vehicles')">
        <md-card-content class="dashboard-card-content" layout="row">
          <div class="dashboard-icon-container" flex="20">
            <span class="lnr lnr-car"></span>
          </div>
          <div class="dashboard-stat-info" flex="80">
            <h2 class="dashboard-stat-number">{{statistics.number_of_vehicles}}</h2>
            <p class="dashboard-stat-name">Vehicles</p>
          </div>
        </md-card-content>
      </md-card>
    </div>

    <div layout="row">
      <md-card class="dashboard-statistic-container equipment" ng-click="gotoMetricPage('app.equipment')">
        <md-card-content class="dashboard-card-content" layout="row">
          <div class="dashboard-icon-container" flex="20">
            <span class="lnr lnr-train"></span>
          </div>
          <div class="dashboard-stat-info" flex="80">
            <h2 class="dashboard-stat-number">{{statistics.number_of_valid_equipment || 0}}</h2>
            <p class="dashboard-stat-name">Equipment</p>
          </div>
        </md-card-content>
      </md-card>

      <md-card class="dashboard-statistic-container customers" ng-click="gotoMetricPage('app.customers')">
        <md-card-content class="dashboard-card-content" layout="row">
          <div class="dashboard-icon-container" flex="20">
            <span class="lnr lnr-users"></span>
          </div>
          <div class="dashboard-stat-info" flex="80">
            <h2 class="dashboard-stat-number">{{statistics.number_of_valid_customers || 0}}</h2>
            <p class="dashboard-stat-name">Customers</p>
          </div>
        </md-card-content>
      </md-card>

      <md-card class="dashboard-statistic-container this-month">
        <md-card-content class="dashboard-card-content" layout="row">
          <div class="dashboard-icon-container" flex="20">
            <span class="lnr lnr-cart"></span>
          </div>
          <div class="dashboard-stat-info" flex="80">
            <h2 class="dashboard-stat-number">GHS {{statistics.number_of_valid_drivers | currency:2}}</h2>
            <p class="dashboard-stat-name">Income This Month</p>
          </div>
        </md-card-content>
      </md-card>

      <md-card class="dashboard-statistic-container all-time">
        <md-card-content class="dashboard-card-content" layout="row">
          <div class="dashboard-icon-container" flex="20">
            <span class="lnr lnr-cart"></span>
          </div>
          <div class="dashboard-stat-info" flex="80">
            <h2 class="dashboard-stat-number">GHS {{statistics.number_of_vehicles | currency:2}}</h2>
            <p class="dashboard-stat-name">Income All Time</p>
          </div>
        </md-card-content>
      </md-card>
    </div>

    <div layout="row">
      <md-card flex class="dashboard-graphs-card">
        <md-card-content>
          <h2 class="dashboard-stat-name">Incoming Request History</h2>
          <canvas id="line" class="chart chart-line" chart-data="data"
            chart-labels="labels" chart-series="series" chart-options="options"
            chart-dataset-override="datasetOverride" chart-click="onClick">
          </canvas>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>
