<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button"
                   aria-label="Menu Button"
                   hide-gt-md
                   ng-click="onClickMenu();">
            <md-icon
                    md-svg-icon="assets/icons/menu.svg"
                    aria-label="Menu Icon">
            </md-icon>
        </md-button>

        <h2>Students</h2>

        <span flex></span>

        <a type="button" href="#"><i class="material-icons">search</i></a>

    </div>
</md-toolbar>

<div class="sm-main-container">

  <md-card>
    <md-card-content>
      <md-table-container>
        <table md-table md-progress="studentsPromise">
          <thead md-head md-order="query.order" md-on-reorder="getStudents">
            <tr md-row>
              <th md-column><span>FULL NAME</span></th>
              <th md-column>STUDENT LEVEL</th>
              <th md-column>SCHOOL</th>
              <th md-column>PHONE NUMBER</th>
              <th md-column></th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row md-select="dessert" md-select-id="name" md-auto-select ng-repeat="student in students.data">
              <td md-cell ng-class="{'sm-blocked-item': student.user_block_status == 'blocked'}">{{student.first_name}} {{student.last_name}}</td>
              <td md-cell ng-class="{'sm-blocked-item': student.user_block_status == 'blocked'}">{{student.student_level}}</td>
              <td md-cell ng-class="{'sm-blocked-item': student.user_block_status == 'blocked'}">{{student.school.school_name}}</td>
              <td md-cell ng-class="{'sm-blocked-item': student.user_block_status == 'blocked'}">{{student.phone_number}}</td>
              <td md-cell>
                <button class="md-button md-raised md-primary" ng-click="viewStudentDetails($event, student)">
                  <md-tooltip md-direction="top">
                    View details of {{student.first_name}} {{student.last_name}}
                  </md-tooltip>
                  <i class="material-icons">remove_red_eye</i>
                </button>
                <button ng-if="student.user_block_status == 'unblocked'" class="md-button md-raised md-warn" ng-click="changeAccountStatus($event, student)">
                  <md-tooltip md-direction="top">
                    Block {{student.first_name}} {{student.last_name}}
                  </md-tooltip>
                  <i class="material-icons">lock</i>
                </button>
                <button ng-if="student.user_block_status == 'blocked'" class="md-button md-raised md-primary" ng-click="changeAccountStatus($event, student)">
                  <md-tooltip md-direction="top">
                    Block {{student.first_name}} {{student.last_name}}
                  </md-tooltip>
                  <i class="material-icons">vpn_key</i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </md-table-container>

      <md-table-pagination md-limit="queryParams.limit" md-limit-options="[50, 100, 200]" md-page="queryParams.page" md-total="{{students.total}}" md-on-paginate="getStudents" md-page-select></md-table-pagination>
    </md-card-content>
  </md-card>

</div>
