<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button"
                   aria-label="Menu Button"
                   hide-gt-md
                   ng-click="onClickMenu();">
            <md-icon
                    md-svg-icon="assets/icons/menu.svg"
                    aria-label="Menu Icon">
            </md-icon>
        </md-button>

        <h2 ng-if="authenticatedUser.user_type != 'admin'">{{authenticatedUser.subject.subject_name}} Past WASSCE Questions</h2>
        <h2 ng-if="authenticatedUser.user_type == 'admin'">Past WASSCE Questions</h2>

        <span flex></span>

        <md-button class="md-raised md-accent" ng-disabled="false" aria-label="description"  md-ripple-size="full" ng-click="showAddPastWassceQtnDialog($event)">Add Past WASSCE Question</md-button>

    </div>
</md-toolbar>

<div ng-if="filteringQuestions" class="top-progress-bar" layout="row">
  <md-progress-linear md-mode="indeterminate"></md-progress-linear>
</div>

<div class="sm-main-container">

  <div ng-if="!wassceQuestionsLoaded" layout="row" layout-align="center center" style="min-height: 80vh;">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div>

  <div ng-if="wassceQuestionsLoaded" >
    <div layout="row">
      <md-input-container flex="20" style="margin-left: 10px;" ng-show="authenticatedUser.user_type == 'admin'">
        <label>Filber by Subject</label>
        <md-select ng-model="selectedSubject" ng-model-options="{trackBy: '$value.id'}" ng-change="filterBySubject(selectedSubject)" aria-label="filter by subject">
          <md-option ng-repeat="subject in subjects" ng-value="subject">
            {{subject.subject_name}}
          </md-option>
        </md-select>
      </md-input-container>
      <div fex flex-offset="5" ng-show="authenticatedUser.user_type == 'admin'">

      </div>
      <md-input-container flex="20">
        <label>Filter by Date</label>
        <input type="text" moment-picker="date" min-view="decade" max-view="decade" start-view="decade" format="YYYY" ng-model="date" change="filterByYear(oldValue, newValue)" autocomplete="off">
      </md-input-container>
    </div>

    <div layout="column">
      <md-card class="sm-consultant-card" ng-repeat="question in questions.data">
        <md-card-content class="sm-consultant-content">
          <div layout="row">
            <div layout="column">
              <div ng-bind-html="question.question_in_text | words:20 :false"></div>
            </div>
          </div>
        </md-card-content>
        <md-card-footer layout="row" class="sm-consultant-footer">
          <p class="sm-consultant-footer-metadata"><span><i class="material-icons">library_books</i></span>  {{question.subject.subject_name}}</p>
          <p class="sm-consultant-footer-metadata"><span><i class="material-icons">library_books</i></span>  {{question.topic.topic_name}}</p>
          <p class="sm-consultant-footer-metadata"><span><i class="material-icons">school</i></span>  {{question.created_by.first_name}} {{question.created_by.last_name}}</p>
          <p class="sm-consultant-footer-metadata"><span><i class="material-icons">schedule</i></span>  {{question.question_year}}</p>

          <span flex></span>

          <md-button class="md-raised md-primary" ng-click="viewQuestionDetails($event, question)" aria-label="description" md-ripple-size="full">
            <md-tooltip md-direction="top">
              View question details
            </md-tooltip>
            <i class="material-icons">remove_red_eye</i>
          </md-button>
          <md-button class="md-raised md-accent" ng-click="showEditPastWassceQtnDialog($event, question)" aria-label="description" md-ripple-size="full">
            <md-tooltip md-direction="top">
              Edit question
            </md-tooltip>
            <i class="material-icons">mode_edit</i>
          </md-button>
          <md-button class="md-raised md-warn" ng-click="deleteWASSCEQuestion($event, question)" aria-label="description" md-ripple-size="full">
            <md-tooltip md-direction="top">
              Delete question
            </md-tooltip>
            <i class="material-icons">delete_forever</i>
          </md-button>
        </md-card-footer>
      </md-card>

      <div ng-if="questions.data.length == '0'">
        <md-card>
          <md-card-content>
            <p>No questions match this query. Please explore other subjects</p>
          </md-card-content>
        </md-card>
      </div>
    </div>

    <section ng-if="questions.data.length != '0' && questions.total > filterParams.limit" layout="row" layout-align="center end" layout-padding="">
      <cl-paging flex cl-pages="questions.last_page" , cl-steps="6" , cl-page-changed="changePage()" , cl-align="center center" , cl-current-page="filterParams.page"></cl-paging>
    </section>

  </div>

</div>
