.sm-answer-option-letter {
  width: 20%;
  margin-right: 10px;
  margin-top: 3px;
  margin-bottom: 0px;
}
.sm-answer-option-text {
  width: 70%;
  margin-right: 10px;
  margin-top: 3px;
  margin-bottom: 0px;
}
.sm-btn-new-answer-option {
  height: 30px !important;
  margin: 0;
}
.sm-card-answer-option {
  margin: 0;
  padding-top: 20px;
}
.sm-answer-options-container {
  margin-bottom: 15px;
}
.sm-question-image {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
}
