<md-dialog aria-label="Add Consultant">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <!-- <h2>{{selectedConsultant.first_name}} {{selectedConsultant.last_name}}</h2> -->
        <span flex></span>
        <md-button class="md-icon-button" ng-click="closeDialog()">
          <i class="material-icons">close</i>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content class="sm-modal-content" style="width:700px; padding:0px;">
      <div class="sm-consultant-header" layout="column" layout-align="center center">
        <div class="sm-consultant-dp" ng-if="selectedConsultant.display_pictures_urls" background-img="{{splitDisplayPicUrl(selectedConsultant.display_pictures_urls)}}"></div>
        <img class="sm-consultant-dp" ng-if="!selectedConsultant.display_pictures_urls" gravatar-src="'selectedConsultant.email'" gravatar-size="200"/>
        <h1 class="sm-consultant-name">{{selectedConsultant.first_name}} {{selectedConsultant.last_name}}</h1>
        <h4 class="sm-consultant-school">{{selectedConsultant.user_title || 'No Title'}}</h4>
        <p ng-if="selectedConsultant.type_of_consultant == 'chief_examiner'" class="sm-consultant-school">Chief Examiner</p>
        <p ng-if="selectedConsultant.type_of_consultant == 'normal_examiner'" class="sm-consultant-school">Normal Examiner</p>
      </div>
      <div class="sm-consultant-info" layout="row">
        <div class="sm-consultant-info-column left">
          <p ng-if="selectedConsultant.user_subtitle" class="sm-cs-info-contact"><i class="material-icons">account_circle</i>  {{selectedConsultant.user_subtitle}}</p>
          <p ng-if="selectedConsultant.subject" class="sm-cs-info-contact"><i class="material-icons">library_books</i>  {{selectedConsultant.subject.subject_name}}</p>
        </div>
        <div class="sm-consultant-info-column right">
          <p ng-if="selectedConsultant.email" class="sm-cs-info-contact"><i class="material-icons">mail_outline</i>  {{selectedConsultant.email}}</p>
          <p ng-if="selectedConsultant.phone_number" class="sm-cs-info-contact"><i class="material-icons">phone_android</i>  {{selectedConsultant.phone_number}}</p>
          <p ng-if="selectedConsultant.school" class="sm-cs-info-contact"><i class="material-icons">school</i>  {{selectedConsultant.school}}</p>
        </div>
      </div>
      <div class="sm-consultant-profile-container">
        <h3>Profile</h3>
        <div ng-bind-html="selectedConsultant.user_profile"></div>
      </div>
      <div class="sm-consultant-info" layout="row">
        <p ng-if="selectedConsultant.created_at" class="sm-cs-info-contact"><i class="material-icons">schedule</i>Added: {{selectedConsultant.created_at | date:"MMMM d, y 'at ' h:mma"}}</p>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="closeDialog()" class="md-raised md-primary">
        Close
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
