<md-dialog aria-label="Add Consultant">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Edit Programme</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="closeDialog()">
          <i class="material-icons">close</i>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="sm-modal-content" style="min-width:700px;">

      <md-input-container class="sm-input-container">
        <label>Programme Name</label>
        <input type="text" ng-model="editedObject.course_name">
      </md-input-container>

      <md-input-container class="md-block">
        <label>Description</label>
        <textarea ng-model="editedObject.course_description" rows="2" md-select-on-focus></textarea>
      </md-input-container>

      <md-input-container class="sm-input-container">
        <md-switch ng-model="editedObject.course_status" class="md-primary" ng-true-value="true" ng-false-value="false" aria-label="school status">
          <p ng-if="editedObject.course_status == true">Active</p>
          <p ng-if="editedObject.course_status == false">Inactive</p>
        </md-switch>
      </md-input-container>

    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="closeDialog()" class="md-raised md-warn">
        Cancel
      </md-button>
      <md-button ng-click="performEditOperation('edit_courses')" class="md-raised md-accent">
        Save Programme
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
