<md-dialog aria-label="Add Consultant">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Upload Sound</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="closeDialog()">
          <i class="material-icons">close</i>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="sm-modal-content" style="min-width:700px;">

      <div ng-if="processingData || loadingPrerequiredData" layout="row" layout-align="center center" style="min-height: 40vh;">
        <md-progress-circular md-mode="indeterminate" md-diameter="48"></md-progress-circular>
      </div>

      <div ng-show="!loadingPrerequiredData && !processingData">
        <md-input-container class="sm-input-container">
          <label>Sound Name</label>
          <input type="text" ng-model="newSoundObject.sound_name">
        </md-input-container>

        <h4>Sound File</h4>
        <div class="sm-dropzone"
          ngf-select="uploadSound($file)"
          name="file"
          ngf-pattern="'audio/mp3'"
          ngf-accept="'audio/mp3'"
          ngf-max-size="20MB">
          <div ng-if="uploadingSound" layout="column" layout-align="center center" style="min-height: 100px;">
            <md-progress-circular md-mode="determinate" value="{{uploadProgress}}"></md-progress-circular>
            <p>Uploading Sound File: {{uploadProgress}}% complete</p>
          </div>
          <div ng-if="!uploadingSound" layout="column" layout-align="center center">
            <i class="material-icons md-24">backup</i>
            <p ng-if="!newSoundObject.sound_url">Click here to select a sound</p>
            <p ng-if="newSoundObject.sound_url">Click here to change sound</p>
          </div>
        </div>
        <div class="" ng-if="newSoundObject.sound_url" style="max-width:700px">
          Player here
        </div>
      </div>

    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="closeDialog()" class="md-raised md-warn">
        Cancel
      </md-button>
      <md-button ng-click="addSound()" class="md-raised md-accent">
        Save Sound
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
