<md-dialog aria-label="Add Consultant">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add School</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="closeDialog()">
          <i class="material-icons">close</i>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="sm-modal-content" style="width:700px;">

      <div ng-if="processingData || loadingPrerequiredData" layout="row" layout-align="center center" style="min-height: 40vh;">
        <md-progress-circular md-mode="indeterminate" md-diameter="48"></md-progress-circular>
      </div>

      <div ng-show="!loadingPrerequiredData && !processingData">
        <md-input-container class="sm-input-container">
          <label>School Name</label>
          <input type="text" ng-model="newSettingsObject.school_name">
        </md-input-container>

        <md-input-container class="sm-input-container">
          <label>Location</label>
          <input type="text" ng-model="newSettingsObject.school_location">
        </md-input-container>

        <md-input-container class="sm-input-container">
          <label>School Description</label>
          <input type="text" ng-model="newSettingsObject.school_description">
        </md-input-container>

        <md-input-container style="width:100%;">
          <label>Country</label>
          <md-select ng-model="newSettingsObject.country_id">
            <md-option ng-value="country.id" ng-repeat="country in get_countries.data.countries">{{country.country_full_name}}</md-option>
          </md-select>
        </md-input-container>

        <md-input-container class="sm-input-container">
          <md-switch ng-model="newSettingsObject.school_status" class="md-primary" ng-true-value="1" ng-false-value="0" aria-label="school status">
            <p ng-if="newSettingsObject.school_status == 1">Active</p>
            <p ng-if="newSettingsObject.school_status == 0">Inactive</p>
          </md-switch>
        </md-input-container>
      </div>

    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="closeDialog()" class="md-raised md-warn">
        Cancel
      </md-button>
      <md-button ng-click="performCreateOperation('add_schools')" class="md-raised md-accent">
        Add School
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
