<md-dialog aria-label="Add Consultant">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Question Details</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="closeDialog()">
          <i class="material-icons">close</i>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content class="sm-modal-content" style="width:700px;">
      <div ng-bind-html="selectedQuestion.question_in_text"></div>

      <div ng-if="selectedQuestion.question_image_url">
        <img class="sm-question-image" ng-src="{{selectedQuestion.question_image_url}}" alt="Question Image">
      </div>

      <p ng-repeat="question in selectedQuestionAnswers track by $index"><b>{{question.answer_letter}}:</b> {{question.answer_text}}</p>

      <p>Correct Answer: <b>{{selectedQuestion.correct_answer}}</b></p>

    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="closeDialog()" class="md-raised md-warn">
        Close
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
