<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Menu Button" hide-gt-md ng-click="onClickMenu();">
      <md-icon
        md-svg-icon="assets/icons/menu.svg" aria-label="Menu Icon">
      </md-icon>
    </md-button>

    <span flex></span>

    <div ng-if="viewName == 'staff'">
      <div ng-controller="StaffController">
        <md-button aria-label="add new staff member" class="md-raised md-accent" ng-click="showAddStaffDialog($event)">
          Add New Staff Member
        </md-button>
      </div>
    </div>

    <div ng-if="viewName == 'warehouses'">
      <div ng-controller="WarehousesController">
        <md-button aria-label="add new warehouse" class="md-raised md-accent" ng-click="showAddWarehouseDialog($event)">
          Add New Warehouse
        </md-button>
      </div>
    </div>

    <div ng-if="viewName == 'pricing'">
      <div ng-controller="PricingController">
        <md-button aria-label="add new pricing" class="md-raised md-accent" ng-click="showAddServiceCategoryDialog($event)">
          Add New Service Category
        </md-button>
      </div>
    </div>

  </div>
</md-toolbar>

<div class="view-main-container" background-img="{{viewBackgroundImage}}">

  <div class="" layout="row">
    <md-card class="sm-rq-filter-item-card bg-color-shade-1" ng-style="viewName =='staff' && {'border':'3px solid white'}" flex="10" ng-click="changeSettingsTab('app.settings.staff')">
      <md-card-content>
        <i class="material-icons">group</i>
        <h2 class="sm-rq-filter-item-title">Staff</h2>
      </md-card-content>
    </md-card>
    <md-card class="sm-rq-filter-item-card bg-color-shade-2" ng-style="viewName =='warehouses' && {'border':'3px solid white'}" flex="10" ng-click="changeSettingsTab('app.settings.warehouses')">
      <md-card-content>
        <i class="material-icons">home</i>
        <h2 class="sm-rq-filter-item-title">warehouses</h2>
      </md-card-content>
    </md-card>
    <md-card class="sm-rq-filter-item-card bg-color-shade-3" ng-style="viewName =='pricing' && {'border':'3px solid white'}" flex="10" ng-click="changeSettingsTab('app.settings.pricing')">
      <md-card-content>
        <i class="material-icons">attach_money</i>
        <h2 class="sm-rq-filter-item-title">Pricing</h2>
      </md-card-content>
    </md-card>
    <!-- <md-card class="sm-rq-filter-item-card foreign" ng-style="viewName =='customization' && {'border':'3px solid white'}" flex="10" ng-click="changeSettingsTab('app.settings.customization')">
      <md-card-content>
        <i class="material-icons">build</i>
        <h2 class="sm-rq-filter-item-title">Customize</h2>
      </md-card-content>
    </md-card> -->
  </div>

  <md-card>
    <md-card-content ui-view>

    </md-card-content>
  </md-card>
</div>
