.sm-btn-add-grade {
  height: 20px;
  margin-top: 14px;
}
.sm-tab-content {
  background-color: white;
  padding-top: 20px;
}
.sm-new-grade-input {
  padding-left: 0px;
  margin-bottom: 0px;
}
.sm-btn-new-grade {
  margin: 0;
  margin-top: 10px !important;
  height: 35px;
  margin-left: 15px;
}
