<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Menu Button" hide-gt-md ng-click="onClickMenu();">
      <md-icon
        md-svg-icon="assets/icons/menu.svg" aria-label="Menu Icon">
      </md-icon>
    </md-button>

    <span flex></span>

    <div ng-if="viewName == 'staff'">
      <div ng-controller="StaffController">
        <md-button aria-label="add new staff member" class="md-raised md-accent" ng-click="showAddStaffDialog($event)">
          Add New Staff Member
        </md-button>
      </div>
    </div>

    <div ng-if="viewName == 'warehouses'">
      <div ng-controller="WarehousesController">
        <md-button aria-label="add new warehouse" class="md-raised md-accent" ng-click="showAddWarehouseDialog($event)">
          Add New Warehouse
        </md-button>
      </div>
    </div>

    <div ng-if="viewName == 'pricing'">
      <div ng-controller="PricingController">
        <md-button aria-label="add new pricing" class="md-raised md-accent" ng-click="showAddDialog($event)">
          Add New Pricing Scheme
        </md-button>
      </div>
    </div>

  </div>
</md-toolbar>

<div class="view-main-container">
  <h3 class="view-main-title">{{viewName | capitalize:'first'}}</h3>

  <div class="" layout="row">
    <md-card class="sm-st-item-card" ng-style="viewName =='staff' && {'border':'3px solid #019AD6'}" flex="15" ng-click="changeSettingsTab('app.settings.staff')">
      <md-card-content>
        <img src="../assets/icons/staff.png" alt="" class="sm-st-item-icon">
        <h2 class="sm-st-item-title">Staff</h2>
      </md-card-content>
    </md-card>
    <md-card class="sm-st-item-card" ng-style="viewName =='warehouses' && {'border':'3px solid #019AD6'}" flex="15" ng-click="changeSettingsTab('app.settings.warehouses')">
      <md-card-content>
        <img src="../assets/icons/warehouse.png" alt="" class="sm-st-item-icon">
        <h2 class="sm-st-item-title">Warehouses</h2>
      </md-card-content>
    </md-card>
    <md-card class="sm-st-item-card" ng-style="viewName =='pricing' && {'border':'3px solid #019AD6'}" flex="15" ng-click="changeSettingsTab('app.settings.pricing')">
      <md-card-content>
        <img src="../assets/icons/price-tag.png" alt="" class="sm-st-item-icon">
        <h2 class="sm-st-item-title">Pricing</h2>
      </md-card-content>
    </md-card>
  </div>

  <md-card>
    <md-card-content ui-view>

    </md-card-content>
  </md-card>
</div>
