<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Menu Button" hide-gt-md ng-click="onClickMenu();">
      <md-icon
        md-svg-icon="assets/icons/menu.svg" aria-label="Menu Icon">
      </md-icon>
    </md-button>

    <span flex></span>

    <md-button aria-label="Open phone interactions menu" class="md-raised md-accent" ng-click="showAddDialog($event, 'add_staff')" ng-if="viewName == 'staff'">
      Add New Staff Member
    </md-button>

    <md-button aria-label="Open phone interactions menu" class="md-raised md-accent" ng-click="showAddDialog($event, 'add_warehouse')" ng-if="viewName == 'warehouses'">
      Add New Warehouse
    </md-button>
  </div>
</md-toolbar>

<div class="view-main-container">
  <h3 class="view-main-title">{{viewName | capitalize:'first'}}</h3>

  <div class="" layout="row">
    <md-button class="sm-st-item-btn" aria-label="setting item" ng-click="changeSettingsTab('app.settings.staff')">
      <md-card flex="100">
        <md-card-content class="sm-st-item-card">
          <img src="../assets/icons/car-driver.png" alt="" class="sm-st-item-icon">
          <h2>Staff</h2>
        </md-card-content>
      </md-card>
    </md-button>
    <md-button class="sm-st-item-btn" aria-label="setting item" ng-click="changeSettingsTab('app.settings.warehouses')">
      <md-card flex="100">
        <md-card-content class="sm-st-item-card">
          <img src="../assets/icons/car-driver.png" alt="" class="sm-st-item-icon">
          <h2>Warehouses</h2>
        </md-card-content>
      </md-card>
    </md-button>
    <md-button class="sm-st-item-btn" aria-label="setting item" ng-click="changeSettingsTab('app.settings.pricing')">
      <md-card flex="100">
        <md-card-content class="sm-st-item-card">
          <img src="../assets/icons/car-driver.png" alt="" class="sm-st-item-icon">
          <h2>Pricing</h2>
        </md-card-content>
      </md-card>
    </md-button>
  </div>

  <md-card>
    <md-card-content ui-view>

    </md-card-content>
  </md-card>
</div>
