.sm-category-pricing-container {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 3px;
}
.sm-category-pricing-container.new {
  margin-top: 20px;
}
.sm-category-pricing-container.existing {
  padding-top: 35px;
}
.sm-btn-add-grade {
  margin: 0;
  margin-top: 14px !important;
  height: 35px;
  margin-left: 15px;
}
.sm-tab-content {
  background-color: white;
  padding-top: 20px;
}
.sm-grade-input {
  width: 31%;
}
.sm-new-grade-input {
  padding-left: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  width: 31%;
}
.sm-btn-new-grade {
  margin: 0;
  margin-top: -3px !important;
  height: 35px;
  margin-left: 15px;
}
.sm-st-item-card {
  text-align: center;
  width: 150px;
  height: 140px;
  cursor: pointer;
  border: 3px solid #fff;
  outline: none;
}
.sm-st-item-title {
  font-size: 20px;
}
.sm-st-item-card:hover {
  border: 3px solid #019AD6;
}
.sm-st-item-btn {
  padding: 0;
  margin: 0;
}
.sm-st-item-icon {
  height: 50px;
}
.sm-staff-img {
  width: 50%;
  height: auto;
  border-radius: 100%;
  margin-top: 10px;
}
.sm-staff-profile {
  font-size: 12px;
  margin: 5px 5px;
}
.sm-staff-title {
  font-size: 16px;
  text-transform: capitalize;
  margin-bottom: 5px;
}
.sm-staff-detail {
  font-size: 10px;
  margin: 2px;
}

// WAREHOUSES
.sm-st-wh-item {
  border-radius: 3px;
  background-color: #F8F8F8;
  padding: 10px;
  margin: 5px 11px 15px 5px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}
.sm-wh-address-container {
  margin-bottom: 15px;
}
.sm-wh-address-text {
  font-size: 12px;
  margin-bottom: 0px;
}
.sm-wh-action-btn-container {
  text-align: center;
  margin-top: 20px;
}
.sm-wh-map-container {
  margin: 10px;
}
.sm-wh-map {
  height: 100px !important;
}
.sm-percentage-percent {
  font-size: 30px;
  height: 40px;
  margin-top: 15px;
}
.sm-input-container-percentage {
  // width: 165px;
}
.sm-input-percentage {
  font-size: 30px;
}
.sm-btn-percentage {
  margin-left: 0px;
}

//  FLEX STYLES
.flex-grid {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.flex-grid .staff-col {
  width: 19%;
}
.flex-grid .warehouse-col {
  width: 24%;
}

@media (max-width: 400px) {
  .flex-grid {
    display: block;
    .staff-col {
      width: 100%;
      margin: 0 0 10px 0;
    }
    .warehouse-col {
      width: 100%;
      margin: 0 0 10px 0;
    }
  }
}

// CARD FLIPPING ANIMATION
.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
}
.flip-container:hover .flipper,
.flip-container.hover .flipper {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}
.flip-container {
  width: 20%;
  height: 300px;
  margin: 5px 5px 15px 5px;
}
.front, .back {
	width: 100%;
	height: 300px;
  text-align: center;
  border-radius: 3px;
  background-color: #F8F8F8;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.flipper {
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;

	-moz-transition: 0.6s;
	-moz-transform-style: preserve-3d;

  -o-transition: 0.6s;
	-o-transform-style: preserve-3d;

	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

.front, .back {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

.front {
	z-index: 2;
}

.back {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}
